@import url(/t/1.css?apiType=css&projectid=a3f033fe-e22c-4e74-980b-f6aba29f2566);
@font-face{
font-family:"Avenir W01_n3";
src:url("/dv2/2/edefe737-dc78-4aa3-ad03-3c6f908330ed.eot?d44f19a684109620e484157aa090e818164b583323d003aed8738c486c8f2be5451a12b579fdb3b84f52c077b1b063612babe72c6cf13ea84e96a257fd04f95dc948a89dd81457c97be3f820b7f45ddc6e492918fcb8c09c7925d950d58932cd06368940a272ad1d43a2615dfc9419217c44ce1638c48af6550131d19097bab8323b45ccfcb6b1b02a&projectId=a3f033fe-e22c-4e74-980b-f6aba29f2566#iefix") format("eot");
}
@font-face{
font-family:"Avenir W01";
src:url("/dv2/2/edefe737-dc78-4aa3-ad03-3c6f908330ed.eot?d44f19a684109620e484157aa090e818164b583323d003aed8738c486c8f2be5451a12b579fdb3b84f52c077b1b063612babe72c6cf13ea84e96a257fd04f95dc948a89dd81457c97be3f820b7f45ddc6e492918fcb8c09c7925d950d58932cd06368940a272ad1d43a2615dfc9419217c44ce1638c48af6550131d19097bab8323b45ccfcb6b1b02a&projectId=a3f033fe-e22c-4e74-980b-f6aba29f2566#iefix");
src:url("/dv2/2/edefe737-dc78-4aa3-ad03-3c6f908330ed.eot?d44f19a684109620e484157aa090e818164b583323d003aed8738c486c8f2be5451a12b579fdb3b84f52c077b1b063612babe72c6cf13ea84e96a257fd04f95dc948a89dd81457c97be3f820b7f45ddc6e492918fcb8c09c7925d950d58932cd06368940a272ad1d43a2615dfc9419217c44ce1638c48af6550131d19097bab8323b45ccfcb6b1b02a&projectId=a3f033fe-e22c-4e74-980b-f6aba29f2566#iefix") format("eot"),url("/dv2/14/0078f486-8e52-42c0-ad81-3c8d3d43f48e.woff2?d44f19a684109620e484157aa090e818164b583323d003aed8738c486c8f2be5451a12b579fdb3b84f52c077b1b063612babe72c6cf13ea84e96a257fd04f95dc948a89dd81457c97be3f820b7f45ddc6e492918fcb8c09c7925d950d58932cd06368940a272ad1d43a2615dfc9419217c44ce1638c48af6550131d19097bab8323b45ccfcb6b1b02a&projectId=a3f033fe-e22c-4e74-980b-f6aba29f2566") format("woff2"),url("/dv2/3/908c4810-64db-4b46-bb8e-823eb41f68c0.woff?d44f19a684109620e484157aa090e818164b583323d003aed8738c486c8f2be5451a12b579fdb3b84f52c077b1b063612babe72c6cf13ea84e96a257fd04f95dc948a89dd81457c97be3f820b7f45ddc6e492918fcb8c09c7925d950d58932cd06368940a272ad1d43a2615dfc9419217c44ce1638c48af6550131d19097bab8323b45ccfcb6b1b02a&projectId=a3f033fe-e22c-4e74-980b-f6aba29f2566") format("woff"),url("/dv2/1/4577388c-510f-4366-addb-8b663bcc762a.ttf?d44f19a684109620e484157aa090e818164b583323d003aed8738c486c8f2be5451a12b579fdb3b84f52c077b1b063612babe72c6cf13ea84e96a257fd04f95dc948a89dd81457c97be3f820b7f45ddc6e492918fcb8c09c7925d950d58932cd06368940a272ad1d43a2615dfc9419217c44ce1638c48af6550131d19097bab8323b45ccfcb6b1b02a&projectId=a3f033fe-e22c-4e74-980b-f6aba29f2566") format("truetype"),url("/dv2/11/b0268c31-e450-4159-bfea-e0d20e2b5c0c.svg?d44f19a684109620e484157aa090e818164b583323d003aed8738c486c8f2be5451a12b579fdb3b84f52c077b1b063612babe72c6cf13ea84e96a257fd04f95dc948a89dd81457c97be3f820b7f45ddc6e492918fcb8c09c7925d950d58932cd06368940a272ad1d43a2615dfc9419217c44ce1638c48af6550131d19097bab8323b45ccfcb6b1b02a&projectId=a3f033fe-e22c-4e74-980b-f6aba29f2566#b0268c31-e450-4159-bfea-e0d20e2b5c0c") format("svg");
font-weight:300;font-style:normal;
}
@font-face{
font-family:"Avenir W01_o3";
src:url("/dv2/2/63a166cb-be60-435c-a056-75172e43efa5.eot?d44f19a684109620e484157aa090e818164b583323d003aed8738c486c8f2be5451a12b579fdb3b84f52c077b1b063612babe72c6cf13ea84e96a257fd04f95dc948a89dd81457c97be3f820b7f45ddc6e492918fcb8c09c7925d950d58932cd06368940a272ad1d43a2615dfc9419217c44ce1638c48af6550131d19097bab8323b45ccfcb6b1b02a&projectId=a3f033fe-e22c-4e74-980b-f6aba29f2566#iefix") format("eot");
}
@font-face{
font-family:"Avenir W01";
src:url("/dv2/2/63a166cb-be60-435c-a056-75172e43efa5.eot?d44f19a684109620e484157aa090e818164b583323d003aed8738c486c8f2be5451a12b579fdb3b84f52c077b1b063612babe72c6cf13ea84e96a257fd04f95dc948a89dd81457c97be3f820b7f45ddc6e492918fcb8c09c7925d950d58932cd06368940a272ad1d43a2615dfc9419217c44ce1638c48af6550131d19097bab8323b45ccfcb6b1b02a&projectId=a3f033fe-e22c-4e74-980b-f6aba29f2566#iefix");
src:url("/dv2/2/63a166cb-be60-435c-a056-75172e43efa5.eot?d44f19a684109620e484157aa090e818164b583323d003aed8738c486c8f2be5451a12b579fdb3b84f52c077b1b063612babe72c6cf13ea84e96a257fd04f95dc948a89dd81457c97be3f820b7f45ddc6e492918fcb8c09c7925d950d58932cd06368940a272ad1d43a2615dfc9419217c44ce1638c48af6550131d19097bab8323b45ccfcb6b1b02a&projectId=a3f033fe-e22c-4e74-980b-f6aba29f2566#iefix") format("eot"),url("/dv2/14/a59168c1-917d-4de9-a244-0316c057c357.woff2?d44f19a684109620e484157aa090e818164b583323d003aed8738c486c8f2be5451a12b579fdb3b84f52c077b1b063612babe72c6cf13ea84e96a257fd04f95dc948a89dd81457c97be3f820b7f45ddc6e492918fcb8c09c7925d950d58932cd06368940a272ad1d43a2615dfc9419217c44ce1638c48af6550131d19097bab8323b45ccfcb6b1b02a&projectId=a3f033fe-e22c-4e74-980b-f6aba29f2566") format("woff2"),url("/dv2/3/6dc0e7d8-9284-44e1-8f05-984a41daa3a4.woff?d44f19a684109620e484157aa090e818164b583323d003aed8738c486c8f2be5451a12b579fdb3b84f52c077b1b063612babe72c6cf13ea84e96a257fd04f95dc948a89dd81457c97be3f820b7f45ddc6e492918fcb8c09c7925d950d58932cd06368940a272ad1d43a2615dfc9419217c44ce1638c48af6550131d19097bab8323b45ccfcb6b1b02a&projectId=a3f033fe-e22c-4e74-980b-f6aba29f2566") format("woff"),url("/dv2/1/2315df7a-8bc2-433d-bf0a-162fc0063de0.ttf?d44f19a684109620e484157aa090e818164b583323d003aed8738c486c8f2be5451a12b579fdb3b84f52c077b1b063612babe72c6cf13ea84e96a257fd04f95dc948a89dd81457c97be3f820b7f45ddc6e492918fcb8c09c7925d950d58932cd06368940a272ad1d43a2615dfc9419217c44ce1638c48af6550131d19097bab8323b45ccfcb6b1b02a&projectId=a3f033fe-e22c-4e74-980b-f6aba29f2566") format("truetype"),url("/dv2/11/7b1e5b2a-b6a6-43da-9021-ada6d1d797f2.svg?d44f19a684109620e484157aa090e818164b583323d003aed8738c486c8f2be5451a12b579fdb3b84f52c077b1b063612babe72c6cf13ea84e96a257fd04f95dc948a89dd81457c97be3f820b7f45ddc6e492918fcb8c09c7925d950d58932cd06368940a272ad1d43a2615dfc9419217c44ce1638c48af6550131d19097bab8323b45ccfcb6b1b02a&projectId=a3f033fe-e22c-4e74-980b-f6aba29f2566#7b1e5b2a-b6a6-43da-9021-ada6d1d797f2") format("svg");
font-weight:300;font-style:oblique;
}
@font-face{
font-family:"Avenir W01_n4";
src:url("/dv2/2/710789a0-1557-48a1-8cec-03d52d663d74.eot?d44f19a684109620e484157aa090e818164b583323d003aed8738c486c8f2be5451a12b579fdb3b84f52c077b1b063612babe72c6cf13ea84e96a257fd04f95dc948a89dd81457c97be3f820b7f45ddc6e492918fcb8c09c7925d950d58932cd06368940a272ad1d43a2615dfc9419217c44ce1638c48af6550131d19097bab8323b45ccfcb6b1b02a&projectId=a3f033fe-e22c-4e74-980b-f6aba29f2566#iefix") format("eot");
}
@font-face{
font-family:"Avenir W01";
src:url("/dv2/2/710789a0-1557-48a1-8cec-03d52d663d74.eot?d44f19a684109620e484157aa090e818164b583323d003aed8738c486c8f2be5451a12b579fdb3b84f52c077b1b063612babe72c6cf13ea84e96a257fd04f95dc948a89dd81457c97be3f820b7f45ddc6e492918fcb8c09c7925d950d58932cd06368940a272ad1d43a2615dfc9419217c44ce1638c48af6550131d19097bab8323b45ccfcb6b1b02a&projectId=a3f033fe-e22c-4e74-980b-f6aba29f2566#iefix");
src:url("/dv2/2/710789a0-1557-48a1-8cec-03d52d663d74.eot?d44f19a684109620e484157aa090e818164b583323d003aed8738c486c8f2be5451a12b579fdb3b84f52c077b1b063612babe72c6cf13ea84e96a257fd04f95dc948a89dd81457c97be3f820b7f45ddc6e492918fcb8c09c7925d950d58932cd06368940a272ad1d43a2615dfc9419217c44ce1638c48af6550131d19097bab8323b45ccfcb6b1b02a&projectId=a3f033fe-e22c-4e74-980b-f6aba29f2566#iefix") format("eot"),url("/dv2/14/065a6b14-b2cc-446e-9428-271c570df0d9.woff2?d44f19a684109620e484157aa090e818164b583323d003aed8738c486c8f2be5451a12b579fdb3b84f52c077b1b063612babe72c6cf13ea84e96a257fd04f95dc948a89dd81457c97be3f820b7f45ddc6e492918fcb8c09c7925d950d58932cd06368940a272ad1d43a2615dfc9419217c44ce1638c48af6550131d19097bab8323b45ccfcb6b1b02a&projectId=a3f033fe-e22c-4e74-980b-f6aba29f2566") format("woff2"),url("/dv2/3/65d75eb0-2601-4da5-a9a4-9ee67a470a59.woff?d44f19a684109620e484157aa090e818164b583323d003aed8738c486c8f2be5451a12b579fdb3b84f52c077b1b063612babe72c6cf13ea84e96a257fd04f95dc948a89dd81457c97be3f820b7f45ddc6e492918fcb8c09c7925d950d58932cd06368940a272ad1d43a2615dfc9419217c44ce1638c48af6550131d19097bab8323b45ccfcb6b1b02a&projectId=a3f033fe-e22c-4e74-980b-f6aba29f2566") format("woff"),url("/dv2/1/c70e90bc-3c94-41dc-bf14-caa727c76301.ttf?d44f19a684109620e484157aa090e818164b583323d003aed8738c486c8f2be5451a12b579fdb3b84f52c077b1b063612babe72c6cf13ea84e96a257fd04f95dc948a89dd81457c97be3f820b7f45ddc6e492918fcb8c09c7925d950d58932cd06368940a272ad1d43a2615dfc9419217c44ce1638c48af6550131d19097bab8323b45ccfcb6b1b02a&projectId=a3f033fe-e22c-4e74-980b-f6aba29f2566") format("truetype"),url("/dv2/11/0979215b-3a1b-4356-9c76-e90fa4551f1d.svg?d44f19a684109620e484157aa090e818164b583323d003aed8738c486c8f2be5451a12b579fdb3b84f52c077b1b063612babe72c6cf13ea84e96a257fd04f95dc948a89dd81457c97be3f820b7f45ddc6e492918fcb8c09c7925d950d58932cd06368940a272ad1d43a2615dfc9419217c44ce1638c48af6550131d19097bab8323b45ccfcb6b1b02a&projectId=a3f033fe-e22c-4e74-980b-f6aba29f2566#0979215b-3a1b-4356-9c76-e90fa4551f1d") format("svg");
font-weight:400;font-style:normal;
}
@font-face{
font-family:"Avenir W01_o4";
src:url("/dv2/2/d8c50fcc-bc32-4f31-8c24-b170c64e2254.eot?d44f19a684109620e484157aa090e818164b583323d003aed8738c486c8f2be5451a12b579fdb3b84f52c077b1b063612babe72c6cf13ea84e96a257fd04f95dc948a89dd81457c97be3f820b7f45ddc6e492918fcb8c09c7925d950d58932cd06368940a272ad1d43a2615dfc9419217c44ce1638c48af6550131d19097bab8323b45ccfcb6b1b02a&projectId=a3f033fe-e22c-4e74-980b-f6aba29f2566#iefix") format("eot");
}
@font-face{
font-family:"Avenir W01";
src:url("/dv2/2/d8c50fcc-bc32-4f31-8c24-b170c64e2254.eot?d44f19a684109620e484157aa090e818164b583323d003aed8738c486c8f2be5451a12b579fdb3b84f52c077b1b063612babe72c6cf13ea84e96a257fd04f95dc948a89dd81457c97be3f820b7f45ddc6e492918fcb8c09c7925d950d58932cd06368940a272ad1d43a2615dfc9419217c44ce1638c48af6550131d19097bab8323b45ccfcb6b1b02a&projectId=a3f033fe-e22c-4e74-980b-f6aba29f2566#iefix");
src:url("/dv2/2/d8c50fcc-bc32-4f31-8c24-b170c64e2254.eot?d44f19a684109620e484157aa090e818164b583323d003aed8738c486c8f2be5451a12b579fdb3b84f52c077b1b063612babe72c6cf13ea84e96a257fd04f95dc948a89dd81457c97be3f820b7f45ddc6e492918fcb8c09c7925d950d58932cd06368940a272ad1d43a2615dfc9419217c44ce1638c48af6550131d19097bab8323b45ccfcb6b1b02a&projectId=a3f033fe-e22c-4e74-980b-f6aba29f2566#iefix") format("eot"),url("/dv2/14/476612d9-282d-4f76-95cd-b4dd31e7ed21.woff2?d44f19a684109620e484157aa090e818164b583323d003aed8738c486c8f2be5451a12b579fdb3b84f52c077b1b063612babe72c6cf13ea84e96a257fd04f95dc948a89dd81457c97be3f820b7f45ddc6e492918fcb8c09c7925d950d58932cd06368940a272ad1d43a2615dfc9419217c44ce1638c48af6550131d19097bab8323b45ccfcb6b1b02a&projectId=a3f033fe-e22c-4e74-980b-f6aba29f2566") format("woff2"),url("/dv2/3/f1ebae2b-5296-4244-8771-5f40e60a564a.woff?d44f19a684109620e484157aa090e818164b583323d003aed8738c486c8f2be5451a12b579fdb3b84f52c077b1b063612babe72c6cf13ea84e96a257fd04f95dc948a89dd81457c97be3f820b7f45ddc6e492918fcb8c09c7925d950d58932cd06368940a272ad1d43a2615dfc9419217c44ce1638c48af6550131d19097bab8323b45ccfcb6b1b02a&projectId=a3f033fe-e22c-4e74-980b-f6aba29f2566") format("woff"),url("/dv2/1/04d1bf6c-070d-4b7e-9498-6051c9f0c349.ttf?d44f19a684109620e484157aa090e818164b583323d003aed8738c486c8f2be5451a12b579fdb3b84f52c077b1b063612babe72c6cf13ea84e96a257fd04f95dc948a89dd81457c97be3f820b7f45ddc6e492918fcb8c09c7925d950d58932cd06368940a272ad1d43a2615dfc9419217c44ce1638c48af6550131d19097bab8323b45ccfcb6b1b02a&projectId=a3f033fe-e22c-4e74-980b-f6aba29f2566") format("truetype"),url("/dv2/11/d0a3e813-1257-4b66-812a-36101faa0fb3.svg?d44f19a684109620e484157aa090e818164b583323d003aed8738c486c8f2be5451a12b579fdb3b84f52c077b1b063612babe72c6cf13ea84e96a257fd04f95dc948a89dd81457c97be3f820b7f45ddc6e492918fcb8c09c7925d950d58932cd06368940a272ad1d43a2615dfc9419217c44ce1638c48af6550131d19097bab8323b45ccfcb6b1b02a&projectId=a3f033fe-e22c-4e74-980b-f6aba29f2566#d0a3e813-1257-4b66-812a-36101faa0fb3") format("svg");
font-weight:400;font-style:oblique;
}
@font-face{
font-family:"Avenir W01_n6";
src:url("/dv2/2/57bf7902-79ee-4b31-a327-1bbf59a3d155.eot?d44f19a684109620e484157aa090e818164b583323d003aed8738c486c8f2be5451a12b579fdb3b84f52c077b1b063612babe72c6cf13ea84e96a257fd04f95dc948a89dd81457c97be3f820b7f45ddc6e492918fcb8c09c7925d950d58932cd06368940a272ad1d43a2615dfc9419217c44ce1638c48af6550131d19097bab8323b45ccfcb6b1b02a&projectId=a3f033fe-e22c-4e74-980b-f6aba29f2566#iefix") format("eot");
}
@font-face{
font-family:"Avenir W01";
src:url("/dv2/2/57bf7902-79ee-4b31-a327-1bbf59a3d155.eot?d44f19a684109620e484157aa090e818164b583323d003aed8738c486c8f2be5451a12b579fdb3b84f52c077b1b063612babe72c6cf13ea84e96a257fd04f95dc948a89dd81457c97be3f820b7f45ddc6e492918fcb8c09c7925d950d58932cd06368940a272ad1d43a2615dfc9419217c44ce1638c48af6550131d19097bab8323b45ccfcb6b1b02a&projectId=a3f033fe-e22c-4e74-980b-f6aba29f2566#iefix");
src:url("/dv2/2/57bf7902-79ee-4b31-a327-1bbf59a3d155.eot?d44f19a684109620e484157aa090e818164b583323d003aed8738c486c8f2be5451a12b579fdb3b84f52c077b1b063612babe72c6cf13ea84e96a257fd04f95dc948a89dd81457c97be3f820b7f45ddc6e492918fcb8c09c7925d950d58932cd06368940a272ad1d43a2615dfc9419217c44ce1638c48af6550131d19097bab8323b45ccfcb6b1b02a&projectId=a3f033fe-e22c-4e74-980b-f6aba29f2566#iefix") format("eot"),url("/dv2/14/b290e775-e0f9-4980-914b-a4c32a5e3e36.woff2?d44f19a684109620e484157aa090e818164b583323d003aed8738c486c8f2be5451a12b579fdb3b84f52c077b1b063612babe72c6cf13ea84e96a257fd04f95dc948a89dd81457c97be3f820b7f45ddc6e492918fcb8c09c7925d950d58932cd06368940a272ad1d43a2615dfc9419217c44ce1638c48af6550131d19097bab8323b45ccfcb6b1b02a&projectId=a3f033fe-e22c-4e74-980b-f6aba29f2566") format("woff2"),url("/dv2/3/4b978f72-bb48-46c3-909a-2a8cd2f8819c.woff?d44f19a684109620e484157aa090e818164b583323d003aed8738c486c8f2be5451a12b579fdb3b84f52c077b1b063612babe72c6cf13ea84e96a257fd04f95dc948a89dd81457c97be3f820b7f45ddc6e492918fcb8c09c7925d950d58932cd06368940a272ad1d43a2615dfc9419217c44ce1638c48af6550131d19097bab8323b45ccfcb6b1b02a&projectId=a3f033fe-e22c-4e74-980b-f6aba29f2566") format("woff"),url("/dv2/1/9bdf0737-f98c-477a-9365-ffc41b9d1285.ttf?d44f19a684109620e484157aa090e818164b583323d003aed8738c486c8f2be5451a12b579fdb3b84f52c077b1b063612babe72c6cf13ea84e96a257fd04f95dc948a89dd81457c97be3f820b7f45ddc6e492918fcb8c09c7925d950d58932cd06368940a272ad1d43a2615dfc9419217c44ce1638c48af6550131d19097bab8323b45ccfcb6b1b02a&projectId=a3f033fe-e22c-4e74-980b-f6aba29f2566") format("truetype"),url("/dv2/11/15281d0d-e3c2-46e1-94db-cb681e00bfaa.svg?d44f19a684109620e484157aa090e818164b583323d003aed8738c486c8f2be5451a12b579fdb3b84f52c077b1b063612babe72c6cf13ea84e96a257fd04f95dc948a89dd81457c97be3f820b7f45ddc6e492918fcb8c09c7925d950d58932cd06368940a272ad1d43a2615dfc9419217c44ce1638c48af6550131d19097bab8323b45ccfcb6b1b02a&projectId=a3f033fe-e22c-4e74-980b-f6aba29f2566#15281d0d-e3c2-46e1-94db-cb681e00bfaa") format("svg");
font-weight:600;font-style:normal;
}
@font-face{
font-family:"Avenir W01_o6";
src:url("/dv2/2/1e9b2738-9316-4b0c-97c0-5423b69ea147.eot?d44f19a684109620e484157aa090e818164b583323d003aed8738c486c8f2be5451a12b579fdb3b84f52c077b1b063612babe72c6cf13ea84e96a257fd04f95dc948a89dd81457c97be3f820b7f45ddc6e492918fcb8c09c7925d950d58932cd06368940a272ad1d43a2615dfc9419217c44ce1638c48af6550131d19097bab8323b45ccfcb6b1b02a&projectId=a3f033fe-e22c-4e74-980b-f6aba29f2566#iefix") format("eot");
}
@font-face{
font-family:"Avenir W01";
src:url("/dv2/2/1e9b2738-9316-4b0c-97c0-5423b69ea147.eot?d44f19a684109620e484157aa090e818164b583323d003aed8738c486c8f2be5451a12b579fdb3b84f52c077b1b063612babe72c6cf13ea84e96a257fd04f95dc948a89dd81457c97be3f820b7f45ddc6e492918fcb8c09c7925d950d58932cd06368940a272ad1d43a2615dfc9419217c44ce1638c48af6550131d19097bab8323b45ccfcb6b1b02a&projectId=a3f033fe-e22c-4e74-980b-f6aba29f2566#iefix");
src:url("/dv2/2/1e9b2738-9316-4b0c-97c0-5423b69ea147.eot?d44f19a684109620e484157aa090e818164b583323d003aed8738c486c8f2be5451a12b579fdb3b84f52c077b1b063612babe72c6cf13ea84e96a257fd04f95dc948a89dd81457c97be3f820b7f45ddc6e492918fcb8c09c7925d950d58932cd06368940a272ad1d43a2615dfc9419217c44ce1638c48af6550131d19097bab8323b45ccfcb6b1b02a&projectId=a3f033fe-e22c-4e74-980b-f6aba29f2566#iefix") format("eot"),url("/dv2/14/1a7173fa-062b-49ad-9915-bc57d3bfc1f5.woff2?d44f19a684109620e484157aa090e818164b583323d003aed8738c486c8f2be5451a12b579fdb3b84f52c077b1b063612babe72c6cf13ea84e96a257fd04f95dc948a89dd81457c97be3f820b7f45ddc6e492918fcb8c09c7925d950d58932cd06368940a272ad1d43a2615dfc9419217c44ce1638c48af6550131d19097bab8323b45ccfcb6b1b02a&projectId=a3f033fe-e22c-4e74-980b-f6aba29f2566") format("woff2"),url("/dv2/3/cdda031e-26e9-4269-83d1-5a218caa10db.woff?d44f19a684109620e484157aa090e818164b583323d003aed8738c486c8f2be5451a12b579fdb3b84f52c077b1b063612babe72c6cf13ea84e96a257fd04f95dc948a89dd81457c97be3f820b7f45ddc6e492918fcb8c09c7925d950d58932cd06368940a272ad1d43a2615dfc9419217c44ce1638c48af6550131d19097bab8323b45ccfcb6b1b02a&projectId=a3f033fe-e22c-4e74-980b-f6aba29f2566") format("woff"),url("/dv2/1/6d1ce413-19e7-4b43-b328-6cdedc58b35a.ttf?d44f19a684109620e484157aa090e818164b583323d003aed8738c486c8f2be5451a12b579fdb3b84f52c077b1b063612babe72c6cf13ea84e96a257fd04f95dc948a89dd81457c97be3f820b7f45ddc6e492918fcb8c09c7925d950d58932cd06368940a272ad1d43a2615dfc9419217c44ce1638c48af6550131d19097bab8323b45ccfcb6b1b02a&projectId=a3f033fe-e22c-4e74-980b-f6aba29f2566") format("truetype"),url("/dv2/11/33fac8ae-e7a5-4903-9ac1-c09a59b4c61d.svg?d44f19a684109620e484157aa090e818164b583323d003aed8738c486c8f2be5451a12b579fdb3b84f52c077b1b063612babe72c6cf13ea84e96a257fd04f95dc948a89dd81457c97be3f820b7f45ddc6e492918fcb8c09c7925d950d58932cd06368940a272ad1d43a2615dfc9419217c44ce1638c48af6550131d19097bab8323b45ccfcb6b1b02a&projectId=a3f033fe-e22c-4e74-980b-f6aba29f2566#33fac8ae-e7a5-4903-9ac1-c09a59b4c61d") format("svg");
font-weight:600;font-style:oblique;
}
@font-face{
font-family:"Avenir W01_n7";
src:url("/dv2/2/e0542193-b2e6-4273-bc45-39d4dfd3c15b.eot?d44f19a684109620e484157aa090e818164b583323d003aed8738c486c8f2be5451a12b579fdb3b84f52c077b1b063612babe72c6cf13ea84e96a257fd04f95dc948a89dd81457c97be3f820b7f45ddc6e492918fcb8c09c7925d950d58932cd06368940a272ad1d43a2615dfc9419217c44ce1638c48af6550131d19097bab8323b45ccfcb6b1b02a&projectId=a3f033fe-e22c-4e74-980b-f6aba29f2566#iefix") format("eot");
}
@font-face{
font-family:"Avenir W01";
src:url("/dv2/2/e0542193-b2e6-4273-bc45-39d4dfd3c15b.eot?d44f19a684109620e484157aa090e818164b583323d003aed8738c486c8f2be5451a12b579fdb3b84f52c077b1b063612babe72c6cf13ea84e96a257fd04f95dc948a89dd81457c97be3f820b7f45ddc6e492918fcb8c09c7925d950d58932cd06368940a272ad1d43a2615dfc9419217c44ce1638c48af6550131d19097bab8323b45ccfcb6b1b02a&projectId=a3f033fe-e22c-4e74-980b-f6aba29f2566#iefix");
src:url("/dv2/2/e0542193-b2e6-4273-bc45-39d4dfd3c15b.eot?d44f19a684109620e484157aa090e818164b583323d003aed8738c486c8f2be5451a12b579fdb3b84f52c077b1b063612babe72c6cf13ea84e96a257fd04f95dc948a89dd81457c97be3f820b7f45ddc6e492918fcb8c09c7925d950d58932cd06368940a272ad1d43a2615dfc9419217c44ce1638c48af6550131d19097bab8323b45ccfcb6b1b02a&projectId=a3f033fe-e22c-4e74-980b-f6aba29f2566#iefix") format("eot"),url("/dv2/14/17b90ef5-b63f-457b-a981-503bb7afe3c0.woff2?d44f19a684109620e484157aa090e818164b583323d003aed8738c486c8f2be5451a12b579fdb3b84f52c077b1b063612babe72c6cf13ea84e96a257fd04f95dc948a89dd81457c97be3f820b7f45ddc6e492918fcb8c09c7925d950d58932cd06368940a272ad1d43a2615dfc9419217c44ce1638c48af6550131d19097bab8323b45ccfcb6b1b02a&projectId=a3f033fe-e22c-4e74-980b-f6aba29f2566") format("woff2"),url("/dv2/3/c9aeeabd-dd65-491d-b4be-3e0db9ae47a0.woff?d44f19a684109620e484157aa090e818164b583323d003aed8738c486c8f2be5451a12b579fdb3b84f52c077b1b063612babe72c6cf13ea84e96a257fd04f95dc948a89dd81457c97be3f820b7f45ddc6e492918fcb8c09c7925d950d58932cd06368940a272ad1d43a2615dfc9419217c44ce1638c48af6550131d19097bab8323b45ccfcb6b1b02a&projectId=a3f033fe-e22c-4e74-980b-f6aba29f2566") format("woff"),url("/dv2/1/25f994de-d13f-4a5d-a82b-bf925a1e054d.ttf?d44f19a684109620e484157aa090e818164b583323d003aed8738c486c8f2be5451a12b579fdb3b84f52c077b1b063612babe72c6cf13ea84e96a257fd04f95dc948a89dd81457c97be3f820b7f45ddc6e492918fcb8c09c7925d950d58932cd06368940a272ad1d43a2615dfc9419217c44ce1638c48af6550131d19097bab8323b45ccfcb6b1b02a&projectId=a3f033fe-e22c-4e74-980b-f6aba29f2566") format("truetype"),url("/dv2/11/3604edbd-784e-4ca7-b978-18836469c62d.svg?d44f19a684109620e484157aa090e818164b583323d003aed8738c486c8f2be5451a12b579fdb3b84f52c077b1b063612babe72c6cf13ea84e96a257fd04f95dc948a89dd81457c97be3f820b7f45ddc6e492918fcb8c09c7925d950d58932cd06368940a272ad1d43a2615dfc9419217c44ce1638c48af6550131d19097bab8323b45ccfcb6b1b02a&projectId=a3f033fe-e22c-4e74-980b-f6aba29f2566#3604edbd-784e-4ca7-b978-18836469c62d") format("svg");
font-weight:700;font-style:normal;
}
@font-face{
font-family:"Avenir W01_o7";
src:url("/dv2/2/cebcf56a-ea7e-4f5c-8110-a7ee367c1f91.eot?d44f19a684109620e484157aa090e818164b583323d003aed8738c486c8f2be5451a12b579fdb3b84f52c077b1b063612babe72c6cf13ea84e96a257fd04f95dc948a89dd81457c97be3f820b7f45ddc6e492918fcb8c09c7925d950d58932cd06368940a272ad1d43a2615dfc9419217c44ce1638c48af6550131d19097bab8323b45ccfcb6b1b02a&projectId=a3f033fe-e22c-4e74-980b-f6aba29f2566#iefix") format("eot");
}
@font-face{
font-family:"Avenir W01";
src:url("/dv2/2/cebcf56a-ea7e-4f5c-8110-a7ee367c1f91.eot?d44f19a684109620e484157aa090e818164b583323d003aed8738c486c8f2be5451a12b579fdb3b84f52c077b1b063612babe72c6cf13ea84e96a257fd04f95dc948a89dd81457c97be3f820b7f45ddc6e492918fcb8c09c7925d950d58932cd06368940a272ad1d43a2615dfc9419217c44ce1638c48af6550131d19097bab8323b45ccfcb6b1b02a&projectId=a3f033fe-e22c-4e74-980b-f6aba29f2566#iefix");
src:url("/dv2/2/cebcf56a-ea7e-4f5c-8110-a7ee367c1f91.eot?d44f19a684109620e484157aa090e818164b583323d003aed8738c486c8f2be5451a12b579fdb3b84f52c077b1b063612babe72c6cf13ea84e96a257fd04f95dc948a89dd81457c97be3f820b7f45ddc6e492918fcb8c09c7925d950d58932cd06368940a272ad1d43a2615dfc9419217c44ce1638c48af6550131d19097bab8323b45ccfcb6b1b02a&projectId=a3f033fe-e22c-4e74-980b-f6aba29f2566#iefix") format("eot"),url("/dv2/14/deb5e718-7abb-4df3-9365-edfa95317090.woff2?d44f19a684109620e484157aa090e818164b583323d003aed8738c486c8f2be5451a12b579fdb3b84f52c077b1b063612babe72c6cf13ea84e96a257fd04f95dc948a89dd81457c97be3f820b7f45ddc6e492918fcb8c09c7925d950d58932cd06368940a272ad1d43a2615dfc9419217c44ce1638c48af6550131d19097bab8323b45ccfcb6b1b02a&projectId=a3f033fe-e22c-4e74-980b-f6aba29f2566") format("woff2"),url("/dv2/3/04801919-17ee-4c6b-8b17-eb1965cb3ed6.woff?d44f19a684109620e484157aa090e818164b583323d003aed8738c486c8f2be5451a12b579fdb3b84f52c077b1b063612babe72c6cf13ea84e96a257fd04f95dc948a89dd81457c97be3f820b7f45ddc6e492918fcb8c09c7925d950d58932cd06368940a272ad1d43a2615dfc9419217c44ce1638c48af6550131d19097bab8323b45ccfcb6b1b02a&projectId=a3f033fe-e22c-4e74-980b-f6aba29f2566") format("woff"),url("/dv2/1/cee053ec-4b41-4506-a1fe-796261690610.ttf?d44f19a684109620e484157aa090e818164b583323d003aed8738c486c8f2be5451a12b579fdb3b84f52c077b1b063612babe72c6cf13ea84e96a257fd04f95dc948a89dd81457c97be3f820b7f45ddc6e492918fcb8c09c7925d950d58932cd06368940a272ad1d43a2615dfc9419217c44ce1638c48af6550131d19097bab8323b45ccfcb6b1b02a&projectId=a3f033fe-e22c-4e74-980b-f6aba29f2566") format("truetype"),url("/dv2/11/38a556e4-b6e5-48c6-aece-b1d470af124e.svg?d44f19a684109620e484157aa090e818164b583323d003aed8738c486c8f2be5451a12b579fdb3b84f52c077b1b063612babe72c6cf13ea84e96a257fd04f95dc948a89dd81457c97be3f820b7f45ddc6e492918fcb8c09c7925d950d58932cd06368940a272ad1d43a2615dfc9419217c44ce1638c48af6550131d19097bab8323b45ccfcb6b1b02a&projectId=a3f033fe-e22c-4e74-980b-f6aba29f2566#38a556e4-b6e5-48c6-aece-b1d470af124e") format("svg");
font-weight:700;font-style:oblique;
}
@font-face{
font-family:"Avenir W01_n8";
src:url("/dv2/2/6af9989e-235b-4c75-8c08-a83bdaef3f66.eot?d44f19a684109620e484157aa090e818164b583323d003aed8738c486c8f2be5451a12b579fdb3b84f52c077b1b063612babe72c6cf13ea84e96a257fd04f95dc948a89dd81457c97be3f820b7f45ddc6e492918fcb8c09c7925d950d58932cd06368940a272ad1d43a2615dfc9419217c44ce1638c48af6550131d19097bab8323b45ccfcb6b1b02a&projectId=a3f033fe-e22c-4e74-980b-f6aba29f2566#iefix") format("eot");
}
@font-face{
font-family:"Avenir W01";
src:url("/dv2/2/6af9989e-235b-4c75-8c08-a83bdaef3f66.eot?d44f19a684109620e484157aa090e818164b583323d003aed8738c486c8f2be5451a12b579fdb3b84f52c077b1b063612babe72c6cf13ea84e96a257fd04f95dc948a89dd81457c97be3f820b7f45ddc6e492918fcb8c09c7925d950d58932cd06368940a272ad1d43a2615dfc9419217c44ce1638c48af6550131d19097bab8323b45ccfcb6b1b02a&projectId=a3f033fe-e22c-4e74-980b-f6aba29f2566#iefix");
src:url("/dv2/2/6af9989e-235b-4c75-8c08-a83bdaef3f66.eot?d44f19a684109620e484157aa090e818164b583323d003aed8738c486c8f2be5451a12b579fdb3b84f52c077b1b063612babe72c6cf13ea84e96a257fd04f95dc948a89dd81457c97be3f820b7f45ddc6e492918fcb8c09c7925d950d58932cd06368940a272ad1d43a2615dfc9419217c44ce1638c48af6550131d19097bab8323b45ccfcb6b1b02a&projectId=a3f033fe-e22c-4e74-980b-f6aba29f2566#iefix") format("eot"),url("/dv2/14/d513e15e-8f35-4129-ad05-481815e52625.woff2?d44f19a684109620e484157aa090e818164b583323d003aed8738c486c8f2be5451a12b579fdb3b84f52c077b1b063612babe72c6cf13ea84e96a257fd04f95dc948a89dd81457c97be3f820b7f45ddc6e492918fcb8c09c7925d950d58932cd06368940a272ad1d43a2615dfc9419217c44ce1638c48af6550131d19097bab8323b45ccfcb6b1b02a&projectId=a3f033fe-e22c-4e74-980b-f6aba29f2566") format("woff2"),url("/dv2/3/61bd362e-7162-46bd-b67e-28f366c4afbe.woff?d44f19a684109620e484157aa090e818164b583323d003aed8738c486c8f2be5451a12b579fdb3b84f52c077b1b063612babe72c6cf13ea84e96a257fd04f95dc948a89dd81457c97be3f820b7f45ddc6e492918fcb8c09c7925d950d58932cd06368940a272ad1d43a2615dfc9419217c44ce1638c48af6550131d19097bab8323b45ccfcb6b1b02a&projectId=a3f033fe-e22c-4e74-980b-f6aba29f2566") format("woff"),url("/dv2/1/ccd17c6b-e7ed-4b73-b0d2-76712a4ef46b.ttf?d44f19a684109620e484157aa090e818164b583323d003aed8738c486c8f2be5451a12b579fdb3b84f52c077b1b063612babe72c6cf13ea84e96a257fd04f95dc948a89dd81457c97be3f820b7f45ddc6e492918fcb8c09c7925d950d58932cd06368940a272ad1d43a2615dfc9419217c44ce1638c48af6550131d19097bab8323b45ccfcb6b1b02a&projectId=a3f033fe-e22c-4e74-980b-f6aba29f2566") format("truetype"),url("/dv2/11/20577853-40a7-4ada-a3fb-dd6e9392f401.svg?d44f19a684109620e484157aa090e818164b583323d003aed8738c486c8f2be5451a12b579fdb3b84f52c077b1b063612babe72c6cf13ea84e96a257fd04f95dc948a89dd81457c97be3f820b7f45ddc6e492918fcb8c09c7925d950d58932cd06368940a272ad1d43a2615dfc9419217c44ce1638c48af6550131d19097bab8323b45ccfcb6b1b02a&projectId=a3f033fe-e22c-4e74-980b-f6aba29f2566#20577853-40a7-4ada-a3fb-dd6e9392f401") format("svg");
font-weight:800;font-style:normal;
}
@font-face{
font-family:"Avenir W01_o8";
src:url("/dv2/2/e6b412d9-d1ed-4b17-bb93-a6911df8640d.eot?d44f19a684109620e484157aa090e818164b583323d003aed8738c486c8f2be5451a12b579fdb3b84f52c077b1b063612babe72c6cf13ea84e96a257fd04f95dc948a89dd81457c97be3f820b7f45ddc6e492918fcb8c09c7925d950d58932cd06368940a272ad1d43a2615dfc9419217c44ce1638c48af6550131d19097bab8323b45ccfcb6b1b02a&projectId=a3f033fe-e22c-4e74-980b-f6aba29f2566#iefix") format("eot");
}
@font-face{
font-family:"Avenir W01";
src:url("/dv2/2/e6b412d9-d1ed-4b17-bb93-a6911df8640d.eot?d44f19a684109620e484157aa090e818164b583323d003aed8738c486c8f2be5451a12b579fdb3b84f52c077b1b063612babe72c6cf13ea84e96a257fd04f95dc948a89dd81457c97be3f820b7f45ddc6e492918fcb8c09c7925d950d58932cd06368940a272ad1d43a2615dfc9419217c44ce1638c48af6550131d19097bab8323b45ccfcb6b1b02a&projectId=a3f033fe-e22c-4e74-980b-f6aba29f2566#iefix");
src:url("/dv2/2/e6b412d9-d1ed-4b17-bb93-a6911df8640d.eot?d44f19a684109620e484157aa090e818164b583323d003aed8738c486c8f2be5451a12b579fdb3b84f52c077b1b063612babe72c6cf13ea84e96a257fd04f95dc948a89dd81457c97be3f820b7f45ddc6e492918fcb8c09c7925d950d58932cd06368940a272ad1d43a2615dfc9419217c44ce1638c48af6550131d19097bab8323b45ccfcb6b1b02a&projectId=a3f033fe-e22c-4e74-980b-f6aba29f2566#iefix") format("eot"),url("/dv2/14/3c210c80-960f-4684-850b-25390b4d08af.woff2?d44f19a684109620e484157aa090e818164b583323d003aed8738c486c8f2be5451a12b579fdb3b84f52c077b1b063612babe72c6cf13ea84e96a257fd04f95dc948a89dd81457c97be3f820b7f45ddc6e492918fcb8c09c7925d950d58932cd06368940a272ad1d43a2615dfc9419217c44ce1638c48af6550131d19097bab8323b45ccfcb6b1b02a&projectId=a3f033fe-e22c-4e74-980b-f6aba29f2566") format("woff2"),url("/dv2/3/cb5c71ad-e582-4d00-929c-67fbfaeb1c27.woff?d44f19a684109620e484157aa090e818164b583323d003aed8738c486c8f2be5451a12b579fdb3b84f52c077b1b063612babe72c6cf13ea84e96a257fd04f95dc948a89dd81457c97be3f820b7f45ddc6e492918fcb8c09c7925d950d58932cd06368940a272ad1d43a2615dfc9419217c44ce1638c48af6550131d19097bab8323b45ccfcb6b1b02a&projectId=a3f033fe-e22c-4e74-980b-f6aba29f2566") format("woff"),url("/dv2/1/9ced8e96-4602-4507-8c20-4ff381949a9a.ttf?d44f19a684109620e484157aa090e818164b583323d003aed8738c486c8f2be5451a12b579fdb3b84f52c077b1b063612babe72c6cf13ea84e96a257fd04f95dc948a89dd81457c97be3f820b7f45ddc6e492918fcb8c09c7925d950d58932cd06368940a272ad1d43a2615dfc9419217c44ce1638c48af6550131d19097bab8323b45ccfcb6b1b02a&projectId=a3f033fe-e22c-4e74-980b-f6aba29f2566") format("truetype"),url("/dv2/11/a7c1d112-7546-459d-a153-1467481298bd.svg?d44f19a684109620e484157aa090e818164b583323d003aed8738c486c8f2be5451a12b579fdb3b84f52c077b1b063612babe72c6cf13ea84e96a257fd04f95dc948a89dd81457c97be3f820b7f45ddc6e492918fcb8c09c7925d950d58932cd06368940a272ad1d43a2615dfc9419217c44ce1638c48af6550131d19097bab8323b45ccfcb6b1b02a&projectId=a3f033fe-e22c-4e74-980b-f6aba29f2566#a7c1d112-7546-459d-a153-1467481298bd") format("svg");
font-weight:800;font-style:oblique;
}
@media all and (min-width: 0px) {
}
