
.form-input {
    border-top: none; 
    border-left: none; 
    border-right: none; 
    margin-top: 12px; 
    border-color: #71c7ff;
    border-radius: 0;

}

.form-group label {
    padding-top: 20px;
}

form {
    padding: 2% 2% 0 0;
}

form button {
    margin-top: 2%;
}

.fa-unlock-alt:hover {
    color: white
}
.fa-unlock-alt {
    color: #a91136
}



.btn {
    background: none; 
    box-shadow: none; 
    border: none; 
    color: #37b4e4
}

form label i {
    color: #1b3175
}

#main {
    background-color: white; 
    padding-top: 20px; 
    margin-top: 50px; 
    border: dotted 5px #f2f4f4
}

.form-input-login {
    background-color: #f2f4f4
}

.btn-rounded {
    border-radius: 50px;
}
.text-bold {
    font-weight: bold;
}
.text-italic {
    font-style: italic;
}

.text-smaller {
    font-size: .8em;
}

.text-smallest {
    font-size: .6em;
}