@font-face {
    font-family: 'Avenir';
    src: url('fonts/AvenirLTStd-Book.woff2') format('woff2'), /* Super Modern Browsers */
        url('fonts/AvenirLTStd-Book.woff') format('woff'), /* Pretty Modern Browsers */
        url('fonts/AvenirLTStd-Book.ttf') format('truetype'); /* Safari, Android, iOS */
}
html {
    height: 100%;
}
body{
    background: #88d1d1;
    background: -moz-linear-gradient(45deg, #88d1d1 0%, #ffffff 100%) fixed;
    background: -webkit-gradient(left bottom, right top, color-stop(0%, #88d1d1), color-stop(100%, #ffffff)) fixed;
    background: -webkit-linear-gradient(45deg, #88d1d1 0%, #ffffff 100%) fixed;
    background: -o-linear-gradient(45deg, #88d1d1 0%, #ffffff 100%) fixed;
    background: -ms-linear-gradient(45deg, #88d1d1 0%, #ffffff 100%) fixed;
    background: linear-gradient(45deg, #88d1d1 0%, #ffffff 100%) fixed;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#88d1d1', endColorstr='#ffffff', GradientType=1 );
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

[id=password] +  [id=lnkforget]{
    margin-left:-80px;
    padding:2px 10px;
    border-radius:4px;
}
.rem_me{
    margin-left: -300px;
}

@media (max-width: 400px) {
    [id=password] +  [id=lnkforget]{
        margin-left:-60px;
        padding:2px 2px;
        border-radius:4px;
    }
    #lnkforget{
        font-weight: normal;
        font-size: 10px;
    }
    .rem_me{
        margin-left: -7%;
    }
    .checkbox-s {
        margin-left: 40%;
    }
}

#lnkforget{
    font-weight: bold;
    color: 737373 !important;
}

div#license {
    font-size: 10px;
    margin: 5px 10px;
}
.checkbox-s {
    margin-top: 20px;
    margin-bottom: 20px;
}
.checkbox-s label {
    color: #265a88;
    font-size: 14px;
    padding-left: 25px;
    letter-spacing: 0.7px;
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 500px;
    margin: 0 auto 30px;
    padding: 30px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    text-align: center;
}

.login-img{
    padding: 15px;
    margin-left: 35%;
    width: 130px;
}
.container{
    margin-top: 10%;
}
.form .input_ {
    outline: 0;
    /*  background: #f2f2f2;*/
    width: 100%;
    border: 2px solid #b3b3b3;
    margin: 0 0 15px;
    padding: 15px;
    border-radius: 0px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
}

.form .input_1 {
    border-radius: 0px;
    border-left: 2px solid #b3b3b3;
    border-right: 1px solid #b3b3b3;
    border-top: 2px solid #b3b3b3;
    border-bottom: 2px solid #b3b3b3;
    width: 100%;
    padding: 15px;
}

.form .input_2 {
    border-radius: 0px;
    border-left: 1px solid #b3b3b3;
    border-right: 2px solid #b3b3b3;
    border-top: 2px solid #b3b3b3;
    border-bottom: 2px solid #b3b3b3;
}

.select_{
    outline: 0;
    /*  background: #f2f2f2;*/
    width: 100%;
    border: 2px solid #b3b3b3;
    margin: 0 0 15px;
    padding: 15px;
    border-radius: 0px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px; 
}

.form button {
    outline: 0;
    border-radius: 0px;
    padding: 5px 015px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bolder;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form .message {
    margin: 15px 0 0;
    color: #737373;
    font-size: 14px;
    font-weight: bold;
}

.form .message a {
    color: #000000;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
}

.form .register-form {
    display: none;
}

.label_{
    float: left;
}

#local_gov{
    outline: 0;
    /*  background: #f2f2f2;*/
    width: 100%;
    border: 2px solid #b3b3b3;
    margin: 0 0 15px;
    padding: 15px;
    border-radius: 0px !important;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
}
.select2-container--default .select2-selection--single{
    background-color:#fff;
    border:2px solid #aaa;
    border-radius:0px;
    padding: 10px;
    font-size: 14px;
    height: 50px;
    text-align: left;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 48px;
    background-color: #e0e0e0;
    border:1px solid #aaa;
    padding: 0px !important;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 17px;

}