body {
    font-family: "Montserrat";
    background-color: #f6f5f5;
    font-weight: 200;
    font-size: 12px;
}
.navbar {
    border: none;
}
.navbar-default {
    margin-bottom: 0px;
}
.container-fluid {
    background-color: #72be58;
    padding: 1.5%;
}
.container-fluid > .navbar-header{
    margin-left:25px;
}
#minibar {
    background-color:  #135F30;
    color: #c2c0c0;
    margin-top: 0px;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 5px;
    padding-bottom: 5px;
}
#minibar #caret .fa-caret-up{
    margin-bottom: 0;
}

.popover {
    color: black;
    font-style: italic;
    font-size: 13px;
    font-weight: bold;
}

#logout {
    color: #c2c0c0;
    cursor: pointer;
}

.navbar-nav > li:last-child {
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
    position: static;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 3em;
    margin-top: 5px
}

.navbar-nav > li:last-child > a > img:hover {
    opacity: 0.7;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2)
}

.dropdown > a > div{
    font-size: 10px;
    color: #ffffff;
    margin-left: 3em;
    position: absolute;
    z-index: 1;
    top: 4px;
    left: -25px;
    border-radius: 50%;
    padding: .5px 7px;
    background-color: red;
}


.navbar .navbar-header > .navbar-brand {
    color: #ffffff;
}
.navbar-brand {
    padding-top: 0;
}
.navbar-default .navbar-nav > li  a {
    color: #ffffff;
}


.navbar-default .navbar-nav > li.active > a {
    color: #ffffff;
}

.navbar-default .navbar-nav > .active > a {
    background-image: none;
    background-color: transparent;
    border-bottom: solid 2px #ffcc00;
    padding-bottom: 7px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 15px;
    margin-right: 15px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

.navbar-default .navbar-nav > .active > a:hover {
    background-color: transparent;
}

.navbar-default .navbar-nav > .dropdown-hover:hover > a, .navbar-default .navbar-nav > .dropdown-hover:hover > a:hover, .navbar-default .navbar-nav > .dropdown-hover:hover > a:focus {
    background:transparent;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background:transparent;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .active > a {
    box-shadow: none;
}

.navbar .navbar-header > .navbar-brand {
    color: #ffffff;
}
.navbar-brand {
    padding-top: 0;
}
.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}

.navbar-default .navbar-nav > li.active > a {
    color: #ffffff;
}

.navbar-default .navbar-nav > .active > a {
    background-image: none;
    background-color: transparent;
    border-bottom: solid 2px #ffcc00;
    padding-bottom: 7px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 15px;
    margin-right: 15px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

.navbar-default .navbar-nav > .active > a:hover {
    background-color: transparent;
}

.navbar-default .navbar-nav > li:last-child > a {
    padding: 0;
}

#notif_header {
    padding-bottom: 7px;
}
.dropdown-menu {
    padding-bottom: 0;
    min-width: 300px;
}
.dropdown-menu li {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 7px;
    margin-bottom: 7px;
}

#last_divider{
    margin-bottom: 0;
}
#notif_footer {
    color: #72be58;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
}
#notif_footer:hover {
    cursor: pointer;
    color: #265a88;
    background: #e5e5e5;
}
#notif_header {
    margin-top: 2px;
    margin-bottom: 0;
}
#no_new_notif {
    padding-top: 10px;
    padding-bottom: 10px;
}

#home-main,
#transaction-main,
.policies,
#points-main,
#settings-main,
#contact-main,
#query-main{
    margin-top: 30px;
}

#summary .table {
    margin-bottom: 0;
}


.col-sm-offset-1 {
    margin-left: 3%;
}
#north-content .box-shadow--2dp {
    padding: 20px;
}
#north-content table tr td {
    padding: 17px;
    border: none;
}
#north-sidebar .box-shadow--2dp{
    padding-top: 7%;
    padding-bottom: 7%;
}
/*#north-content.col-sm-8,
#south-content.col-sm-8{
    width: 72%;
}*/
.breadcrumb {
    padding-left: 30px;
    background-color: #eeeeee;
}
div#breadcrumb-display {
    background-color: #eeeeee;
    padding: 10px 4% 30px;
}
hr {
    margin-top: 20px;
    margin-bottom: 10px;
    border: thin #e4e3e3 solid;
}
.content-white{
    background-color: white;
    padding: 20px;
}

.overlay {
    position: relative;
}

.overlay:after {
    position: absolute;
    content:"";
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity:0;
    background-color: #b0b0b0;
    opacity: .2;
}

div#south {
    margin-top: 30px;
}

div#south-sidebar .content-white {
    padding-bottom: 0;
}

.panel {
    border: none;
}
.panel-default > .panel-heading {
    background-image: none;
    
}

#pagination {
    display: table;
    margin: 0 auto 20px;
}
#pagination ul > li {
    margin-left: 5px;
}
.light-theme .current {
    background: #265a88;
    border-color: #265a88;
    box-shadow: 0 1px 0 rgba(38,90,136,1), 0 0 1.5px rgba(0, 0, 0, 0.3) inset;
}

.policies {
    background-color: #ffffff;
    padding-top: 0;
    padding-left: 0px;
    padding-right: 0px;
}

#policies-main.policies div:last-child {
    padding-top: 5px;
    padding-left: 15px;
}

#policy-details-main.policies #content-header,
#policies-main.policies #content-header {
    border-bottom: solid thin #cccccc;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    padding-right: 0;
    margin-bottom: 10px;
}
#license {
    margin: 15px;
}

.thumbnail {
    border: none;
}

.thumbnail:hover {
    background: #dadada;
}

.thumbnail > img {
    border-radius: 10px;
}

.thumbnail .caption{
    padding: 0;
    padding-top: 10px;
}
.thumbnail .caption span {
    font-weight: bold;
    font-size: 15px;
}
#add-new .thumbnail {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

span.text-muted {
    font-size: .8em;
}

#north-content > span > a {
    padding: 1.5px 10px 0px;;
    background-color: white;
    margin-bottom: 0;
    border: thin #e4e3e3 solid;
    margin-bottom: 0;
    color: #000;
    font-size: .95em;
}

#north-content > span > a:hover {
    cursor: pointer;
}

#query_display p i {
    color: #00a1ed;
    cursor: pointer;
}

.modal textarea {
    border: 3px solid #dadada;
}

#settings-profile {
    margin-top: 20%;
    margin-bottom: 20%;
}
#settings-profile p:nth-child(2) {
    margin: 0;
}
#settings-profile p:nth-child(3) {
    color: #999999;
    margin: 0;
    font-size: 10px;
}
#settings-profile p:nth-child(4) {
    font-size: 14px;
    letter-spacing: 0.3px;
    word-spacing: 0.5px;
    margin-bottom: 5px;
}
#settings-profile p:nth-child(5) {
    margin-bottom: 3em;
}
#settings-profile p:nth-child(5) button {
    padding-top:5px;
    padding-bottom:5px;
    font-size: 13px;
}

#settings-nav p {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom:#cccccc solid thin;
    margin-bottom: 0;
    cursor: pointer;
}
#settings-nav p:hover{
    background-color: #dadada;
}
#settings-nav p strong {
    margin-left: 15px;
}
#settings-nav p img {
    padding-top: 4px;
    margin-right: 15px;
}
#settings-logout {
    padding-top: 15px;
    padding-bottom: 15px;
}
#settings-logout:hover {
    background-color: #dadada;
}
#settings-main #content{
    padding-top: 20px;
    padding-bottom: 20px;
}
#settings-main #content #profile form div {
    padding-top:5px;
    padding-bottom: 5px;
}
#settings-main #content #profile form div > label {
    padding-top: 10px;
    margin-right: 20px;
}
.settings-btn {
    padding-top: 13px;
    padding-bottom: 13px;
    border-radius: 3px;
}
.settings-input {
    padding: 7px;
    padding-left: 15px;
    font-size: 17px;
    border: 2px #dadada solid;
}
#settings-main #sub-content #upload form div > input {
    width: 100%;
}
#settings-main #content .reset form div > select {
    padding: 7px;
    font-size: 16px;
    border: 2px #dadada solid;
}

#settings-main #content .reset form div div:nth-child(2) div {
    margin-top:15px;
    margin-bottom: 15px;
}
#settings-main #content .reset form,
#settings-main #content .reset form > div:nth-child(2){
    margin-top: 14%;
}
/*#settings-main #content .reset form > div:nth-child(2) button {
    font-size: 16px;
    padding-left: 25px;
    padding-right: 25px;
    letter-spacing: 1.2px;
    border-radius: 3px;
}*/
#settings-main #content .reset form div > label {
    padding-top: 15px;
    padding-right: 20px;
    font-weight: normal;
}
#settings-main #content .reset form div .parsley-errors-list {
    margin-left: 35%;
    margin-top: 35px;
}

#south #south-content .row div:first-child {
    padding-right: 0;
}

#south #south-content .row #date {
    padding-top: 10px;
}

#south #south-content .row #date #month {
    font-size: 18px; 
    letter-spacing: 1px;
}

#south #south-content .row #date #day {
    letter-spacing: 1px;
}



@media (max-width: 350px) {
    #south #south-content .row #date {
        margin-left: 20px;
    }
    .col-xs-1 {
        padding-left: 0;
    }

    .col-xs-11 {
        padding-left:0;
        padding-right:0;
        float: right;
        margin-left:0;
    }
}
@media (max-width: 768px) {
    #settings-main.container {
        width: 750px;
    }
}
@media (max-width: 992px) {
    #settings-main.container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    #settings-main.container {
        width: 1300px;
        margin-left: auto;
    }
}

.text-italic {
    font-style: italic;
}
.text-bold {
    font-weight: bold;
}

.smaller {
    font-size: .6em;
}
.btn-rounded {
    border-radius: 50px;
}
.box-shadow--2dp {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12)
}
.box-shadow--3dp {
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12)
}
.box-shadow--4dp {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2)
}
.box-shadow--6dp {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2)
}
.box-shadow--8dp {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2)
}
.box-shadow--16dp {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2)
}
