@font-face {
    font-family: 'Avenir';
    src: url('../fonts/AvenirLTStd-Book.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/AvenirLTStd-Book.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/AvenirLTStd-Book.ttf') format('truetype'); /* Safari, Android, iOS */
} 

html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
    font-family: "Avenir", sans-serif;
    background-color: #ffffff;
    font-weight: 200;
    font-size: 14px;
    color: #696969;
}
footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    padding-top: 35px; 
    border-top: 2px solid #e9e9e9;
    background: #e9e9e9;
    text-align: center;
}
#home-main, #policy-details-main, #settings-main{
    margin-bottom: 30px;
}

.body_{
    background: #e9e9e9;
    background: -webkit-linear-gradient(top, #e9e9e9 , #ffffff 20%); 
    background: -o-linear-gradient(top, #e9e9e9, #ffffff 20%); 
    background: -moz-linear-gradient(top, #e9e9e9, #ffffff 20%); 
    background: linear-gradient(to bottom, #e9e9e9 , #ffffff 20%);  
}

.foot_white{
    background: #e9e9e9 !important;
}
footer > p, footer > p > a {
    text-decoration: none !important;
    color: #696969 !important;
}

@media (min-width: 1300px) {
    .container {
        width: 1310px;
        /*    background-color: #ffffff;*/
        padding-top: 5px;
    }
}
.navbar-nav > li > a {
    padding-top: 5px;
    padding-bottom: 5px;
}
.nav-icon{
    padding-top: 10px;
    padding-bottom: 10px;
}
.nav-icon > a > i{
    font-size: 22px;
}
@media (max-width: 400px) {
    .nav-icon > a > i{
        font-size: 17px;
    }
}
@media (max-width: 700px) {
    .nav-icon > a > i{
        font-size: 20px;
    }
}
.small{
    font-size: 14px;
    padding-right: 15px;
    font-weight: bold;
}
.rightc { list-style-type:none; margin-bottom:0px; float:right; }
.rightc li { margin:0px 10px; font-size:13px; float:left; line-height:40px; color:#FFF;}
.rightc li a {   color:#696969; }


.navbar {
    border: none;
    border-radius: 0%;
    min-height: 50px;
    margin-bottom: 0px;
    box-shadow: unset;
}
.navbar-default {
    margin-bottom: 0px;
    background-color: #ffffff;
    border-top-color: #ffffff;
}

.center-block{
    color: #72be58;
    display: inline; 
    margin-left: 0px; 
    font-size: 60px; 
    font-weight: bold;
}

.center-block_i{
    color: #72be58;
    display: inline; 
    margin-left: 8px; 
    font-size: 18px; 
    font-weight: bold;
}
@media (max-width: 1200px) {
    .center-block{
        font-size: 35px;
        margin-left: 0; 
    }
}
@media (max-width: 900px) {
    .center-block{
        font-size: 30px;
        margin-left: 0; 
    }
}
@media (max-width: 400px) {
    .center-block{
        font-size: 20px;
        margin-left: 0; 
    }
}

.tab-points{
    font-weight: bold;
    background-color: #e0e0e0 !important;
    color: #696969;
}
.tab-points:hover, .tab-points:focus{ 
    font-weight: bold;
    background-color: #72be58 !important;
    color: #72be58;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
    color: #72be58;
}

/*a > .tab-points {
  color: #72be58 !important;
  text-decoration: none;
}*/
.tab-points:hover,
.tab-points:focus, 
.tab-points:active, 
.tab-points:visited{
    color: #72be58 !important;
    text-decoration: none;
}
.tab-points:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.span-title{
    font-weight: bold;
}

.ui-group-buttons .or{position:relative;float:left;width:.3em;height:1.3em;z-index:3;font-size:12px}
.ui-group-buttons .or:before{position:absolute;top:50%;left:50%;content:'or';background-color:#ffffff;margin-top:-.1em;margin-left:-.9em;width:1.8em;height:1.8em;line-height:1.55;color:#000000;font-style:normal;font-weight:400;text-align:center;border-radius:500px;-webkit-box-shadow:0 0 0 1px rgba(0,0,0,0.1);box-shadow:0 0 0 1px rgba(0,0,0,0.1);-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box}
.ui-group-buttons .or:after{position:absolute;top:0;left:0;content:' ';width:.3em;height:2.44em;background-color:rgba(0,0,0,0);border-top:.6em solid #ffffff;border-bottom:.6em solid #ffffff}
.ui-group-buttons .or.or-lg{height:1.3em;font-size:16px}
.ui-group-buttons .or.or-lg:after{height:2.85em}
.ui-group-buttons .or.or-sm{height:1em}
.ui-group-buttons .or.or-sm:after{height:2.5em}
.ui-group-buttons .or.or-xs{height:.25em}
.ui-group-buttons .or.or-xs:after{height:1.84em;z-index:-1000}
.ui-group-buttons{display:inline-block;vertical-align:middle}
.ui-group-buttons:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.ui-group-buttons .btn{float:left;border-radius:0}
.ui-group-buttons .btn:first-child{margin-left:0;border-top-left-radius:.25em;border-bottom-left-radius:.25em;padding-right:15px}
.ui-group-buttons .btn:last-child{border-top-right-radius:.25em;border-bottom-right-radius:.25em;padding-left:15px}

/*************** START MERCHANTS STYLE **************/

.s-sidebar{
    background-color: #fff !important;
    padding: 20px;
    border-radius: 5px;
}

.admin_m{
    margin: 35px 15px;
    padding: 15px;
    border-radius: 5px;
    background-color: #fff;
}

.admin_a{
    margin: 35px 15px;
    background-color: #e0e0e0 !important;
}
.admin_b{
    margin: 5px;
    padding: 15px;
    border-radius: 5px;
    background-color: #fff;
}

/********** END MERCHANTS STYLE ****************/


/********** START ADMIN STYLE ****************/
.admininfo > .notice{
    padding:5px 0 5px 10px !important;
}

@media (max-width: 400px) {
    .date_mobile{
        font-size: 14px !important;
    }
}

/********************************************************************/
/*** Progress Bar ***/
.progress {
    position: relative;
    height: 25px;
}

.progress > .progress-type {
    position: absolute;
    left: 0px;
    font-weight: 800;
    padding: 3px 30px 2px 10px;
    color: rgb(255, 255, 255);
    background-color: rgba(25, 25, 25, 0.2);
}

.progress > .progress-completed {
    position: absolute;
    right: 0px;
    font-weight: 800;
    padding: 3px 10px 2px;
}
.progress > .progress-completed0 {
    font-weight: 800;
    padding: 3px 0px 2px;
    color: rgb(255, 255, 255);
    background-color: rgba(25, 25, 25, 0.2);
}

#wallet_info{
    z-index: 99000 !important;
}
/********************************************************************/
/*** Time Line ***/
.insure_title{
    font-weight: bold;
    font-size: 17px;
    color: #72be58;
}
a:hover, a:focus {
    color: #72be58;
    text-decoration: underline;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #72be58;
    background-color: transparent;
}
.insurer_tab{
    font-weight: bold;
    color: #696969;
}
.insurer_tab:hover, .insurer_tab:hover{
    color: #72be58 !important;
}


.notice {
    padding: 15px;
    background-color: #fafafa;
    border-left: 3px solid #7f7f84;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
    box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
}
.notice-sm {
    padding: 10px;
    font-size: 80%;
}
.notice-lg {
    padding: 35px;
    font-size: large;
}
.notice-success {
    border-color: #80D651;
}
.notice-success>strong {
    color: #80D651;
}
.notice-info {
    border-color: #45ABCD;
}
.notice-info>strong {
    color: #45ABCD;
}
.notice-warning {
    border-color: #FEAF20;
}
.notice-warning>strong {
    color: #FEAF20;
}
.notice-danger {
    border-color: #d73814;
}
.notice-danger>strong {
    color: #d73814;
}


.summary_tb > tr > td{
    padding: 8px !important;
    line-height: 1.42857143 !important;
    vertical-align: top;
}
/*New Styles End Here*/
/*--------------------*/


/*Insurer Query Styles End Here*/
/*--------------------*/
#query-main{
    margin-top: 30px;
}

#summary .table {
    margin-bottom: 0;
}


.col-sm-offset-1 {
    margin-left: 3%;
}

#license {
    margin: 15px;
}
/*Insurer Query Styles End Here*/
/*--------------------*/

.container-fluid {
    background-color: #ffffff;

}
.container-fluid > .navbar-header{
    margin-left:25px;
}
#minibar {
    background-color:  #72be58;
    color: #c2c0c0;
    margin-top: 0px;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 5px;
    padding-bottom: 5px;
}

#minibar #caret .fa-caret-up {
    margin-bottom: 0;
}

#logout{
    color: #696969;
    cursor: pointer;
}

.popover {
    color: black;
    font-style: italic;
    font-size: 13px;
}

.popover {
    color: black;
    font-style: italic;
    font-size: 13px;
}

.popover {
    color: black;
    font-style: italic;
    font-size: 13px;
}

.popover {
    color: black;
    font-style: italic;
    font-size: 13px;
}

.navbar-nav > li:last-child {
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
    position: static;
    margin-left: 1em;
    margin-top: 4px
}

/*.navbar-nav > li:last-child > a > img:hover {
    opacity: 0.7;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2)
}
*/
.dropdown > a > div{
    font-size: 10px;
    color: #ffffff;
    margin-left: 3em;
    position: absolute;
    z-index: 1;
    top: 2.5px;
    left: -25px;
    border-radius: 50%;
    padding: .6px 7px;
    background-color: red;
}


.navbar .navbar-header > .navbar-brand {
    color: #696969;
}
.navbar-brand {
    padding-top: 12px;
}
.navbar-default .navbar-nav > li  a {
    color: #696969;
    font-weight: bold;

}


.navbar-default .navbar-nav > li.active > a {
    color: #72be58 !important;

}

.navbar-default .navbar-nav > .active > a {
    background-image: none;
    background-color: transparent;
    border-bottom: solid 2px #72be58 !important;

    padding-bottom: 7px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 15px;
    margin-right: 15px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

.navbar-default .navbar-nav > .active > a:hover {

    color: #72be58 !important;
    background-color: transparent;
}

.navbar-default .navbar-nav > .dropdown-hover:hover > a, .navbar-default .navbar-nav > .dropdown-hover:hover > a:hover, .navbar-default .navbar-nav > .dropdown-hover:hover > a:focus {
    background:transparent;
    color: #72be58 !important;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background:transparent;

}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .active > a {
    box-shadow: none;
}

.navbar-default .navbar-nav > li:last-child > a {
    padding: 0;
}

#notif_header {
    color: #72be58;
    padding-bottom: 7px;
}
.dropdown-menu {
    padding-bottom: 0;
    min-width: 180px;
}
.dropdown-menu li {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 7px;
    margin-bottom: 7px;
}

#last_divider{
    margin-bottom: 0;
}
.notif_body{
    background-color: #ffffff !important;
    color: #72be58 !important;
}
#notif_footer {
    color: #72be58;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
}
#notif_footer:hover {
    cursor: pointer;
    color: #72be58;
    background: #e5e5e5;
}
#notif_header {
    color: #72be58;
    margin-top: 2px;
    margin-bottom: 0;
}
#no_new_notif {
    color: #72be58;
    padding-top: 10px;
    padding-bottom: 10px;
}
.notif-temp{
    color: #72be58 !important;
}

#home-main,
#transaction-main,
.policies,
#points-main,
#settings-main,
#contact-main,
#query-main{
    margin-top: 30px;
}

.setting-form{
    background-color: #ffffff !important;
    margin-left: 20px;
}
@media (max-width: 768px) {
    .setting-form {
        margin: 10px;
    }
    #north-content{
        margin-top: 15px !important;
    }
}
@media (max-width: 992px) {
    .setting-form {

        margin-left: 10px;
    }

}
@media (min-width: 1200px) {
    .setting-form {
        margin-left: 10px;
    }
}

.col-sm-offset-1 {
    margin-left: 3%;
}
#north-content .box-shadow--2dp {
    padding: 15px;
}
#north-content table tr td {
    padding: 2px 15px 2px 15px;
    border: none;
}
/*#north-content.col-sm-8,
#south-content.col-sm-8{
    width: 72%;
}*/
.breadcrumb {
    padding-left: 30px;
    background-color: #eeeeee;
}
div#breadcrumb-display {
    background-color: #eeeeee;
    padding: 10px 4% 30px;
}
hr {
    margin-top: 1px;
    margin-bottom: 10px;
    border: thin #e1e1e1 solid;
}
.content-white{
    background-color: white;
    padding: 20px;
    border-radius: 8px;
}

/*New Styles*/
.content-live{
    padding: 20px;
    border-radius: 8px;
    border: 2px solid #72be58; 
}

.overlay {
    position: relative;
}

.overlay:after {
    position: absolute;
    content:"";
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity:0;
    background-color: #b0b0b0;
    opacity: .2;
}

div#south {
    margin-top: 30px;
}

div#south-sidebar .content-white {
    padding-bottom: 0;
}


/*table{
    padding: 2px 10px;
}
table tbody tr > td {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}*/

#pagination {
    display: table;
    margin: 0 auto 20px;
}
#pagination ul > li {
    margin-left: 5px;
}
.light-theme .current {
    background: #72be58;
    border-color: #72be58;
    box-shadow: 0 1px 0 rgba(114,190,88,1), 0 0 1.5px rgba(0, 0, 0, 0.3) inset;
}

.policies {
    background-color: #ffffff;
    padding-top: 0;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 7px !important;
}

#policies-main.policies div:last-child {
    padding-top: 5px;
    padding-left: 12px;
}

#policy-details-main.policies #content-header,
#policies-main.policies #content-header {
    border-bottom: solid thin #cccccc;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    padding-right: 0;
    margin-bottom: 10px;
}

#license {
    margin: 15px;
}
.policies  #content {
    max-height: 500px;
    overflow-y: auto;
}

.thumbnail {
    border: none;
}

.thumbnail:hover {
    background: #dadada;
}

.thumbnail > img {
    border-radius: 10px;
}

.thumbnail .caption{
    padding: 0;
    padding-top: 10px;
}
.thumbnail .caption span {
    font-weight: bold;
    font-size: 15px;
}
#add-new .thumbnail {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

span.text-muted {
    font-size: .7em;
}



#north-content > span > a {
    padding: 1.5px 10px 0px;;
    background-color: white;
    margin-bottom: 0;
    border: thin #e4e3e3 solid;
    margin-bottom: 0;
    color: #000;
    font-size: .95em;
}

#north-content > span > a:hover {
    cursor: pointer;
}

#query_display p i {
    color: #00a1ed;
    cursor: pointer;
}

.modal textarea {
    border: 3px solid #dadada;
}


#settings-profile p:nth-child(3) {
    margin: 0;
}
#settings-profile p:nth-child(4) {
    color: #999999;
    margin: 0;
    font-size: 10px;
}
#settings-profile p:nth-child(5) {
    font-size: 14px;
    letter-spacing: 0.3px;
    word-spacing: 0.5px;
    margin-bottom: 5px;
}
#settings-profile p:nth-child(6) {
    margin-bottom: 3em;
}
#settings-profile p:nth-child(6) button {
    padding-top:5px;
    padding-bottom:5px;
    font-size: 13px;
}

#settings-nav p {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom:#cccccc solid thin;
    margin-bottom: 0;
    cursor: pointer;
}
#settings-nav p:hover{
    background-color: #dadada;
}
#settings-nav p strong {
    margin-left: 15px;
}
#settings-nav p img {
    padding-top: 4px;
    margin-right: 15px;
}
#settings-logout {
    padding-top: 15px;
    padding-bottom: 15px;
}
#settings-logout:hover {
    background-color: #dadada;
}
#settings-main #content{
    padding-top: 20px;
    padding-bottom: 20px;
}
#settings-main #content #profile form div {
    padding-top:5px;
    padding-bottom: 5px;
}
#settings-main #content #profile form div > label {
    padding-top: 10px;
    margin-right: 20px;
}
.settings-btn {
    padding-top: 13px;
    padding-bottom: 13px;
    border-radius: 3px;

}
#pic,
#settings-main #content #profile form div > input,
#settings-main #content #profile form div > select,
#settings-main #content #profile form div .select2-container,
#settings-main #content .reset form div > input{
    padding: 7px;
    padding-left: 15px;
    font-size: 17px;
    border: 2px #dadada solid;
}

#settings-main #content #profile form div .select2-container--default  .select2-selection--single{
    border:none;
}
#settings-main #content #profile form div .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 7px;
}
#settings-main #content .reset form div > select {
    padding: 7px;
    font-size: 16px;
    border: 2px #dadada solid;
}

#settings-main #content .reset form div div:nth-child(2) div {
    margin-top:15px;
    margin-bottom: 15px;
}
#settings-main #content .reset form,
#settings-main #content .reset form > div:nth-child(2){
    margin-top: 14%;
}
/*#settings-main #content .reset form > div:nth-child(2) button {
    font-size: 16px;
    padding-left: 25px;
    padding-right: 25px;
    letter-spacing: 1.2px;
    border-radius: 3px;
}*/
#settings-main #content .reset form div > label {
    padding-top: 15px; 
    padding-right: 20px;
    font-weight: normal;
}
#settings-main #content .reset form div .parsley-errors-list {
    margin-left: 35%;
    margin-top: 35px;
}

.name_change {
    color: #660000;
    font-weight: bold;
    cursor: pointer;
}

#south #south-content .row div:first-child {
    padding-right: 0;
}

#south #south-content .row #date {
    padding-top: 10px;
}

#south #south-content .row #date #month {
    font-size: 14px; 
    letter-spacing: 1px;
}

#south #south-content .row #date #day {
    letter-spacing: 1px;
}

#info {
    position: fixed; 
    max-width: 500px; 
    bottom: 3%; 
    right: 3%;
    z-index: 9999
}



@media (max-width: 350px) {
    #south #south-content .row #date {
        margin-left: 20px;
    }
    .col-xs-1 {
        padding-left: 0;
    }

    .col-xs-11 {
        padding-left:0;
        padding-right:0;
        float: right;
        margin-left:0;
    }
}
@media (max-width: 768px) {
    #settings-main.container {
        width: auto;
    }
}
@media (max-width: 992px) {
    #settings-main.container {
        width: auto;
    }
}
@media (min-width: 1200px) {
    #settings-main.container {
        width: auto;
        margin-left: auto;
    }
}

.text-italic {
    font-style: italic;
}
.text-bold {
    font-weight: bold;
}

.smaller {
    font-size: .6em;
}
.btn-rounded {
    border-radius: 7px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon {
    margin-left: 16px !important;
}
.timeline-icon i {
    top: -14px !important;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label{
    background: #ededed !important;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label:after {
    border-color: transparent #fcfcfc transparent transparent !important;
}

.box-shadow--2dp {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12)
}
.box-shadow--3dp {
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12)
}
.box-shadow--4dp {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2)
}
.box-shadow--6dp {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2)
}
.box-shadow--8dp {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2)
}
.box-shadow--16dp {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2)
}
