<h2>120136</h2><div>{
    "input": {
        "user_id": {
            "value": "102325"
        },
        "bvn": {
            "value": "22162179167"
        },
        "loc_sit": {
            "value": 6
        },
        "dependants": {
            "value": 0
        },
        "loc": {
            "value": "62"
        },
        "age": {
            "value": "25"
        },
        "occupation": {
            "value": "0",
            "salaried_employee": {
                "value": "6"
            }
        },
        "industry": {
            "value": "6"
        },
        "social_med": {
            "value": 0
        },
        "education": {
            "value": "3"
        },
        "curr_emp": {
            "value": "3"
        },
        "prev_emp": {
            "value": "2"
        },
        "maritial_status": {
            "value": "0"
        },
        "phone_ver": {
            "value": "0"
        },
        "l_of_acc": {
            "value": "3"
        },
        "address_ver": {
            "value": "0"
        },
        "tin_provided": {
            "value": "0"
        },
        "loan_amount": {
            "value": "240000"
        },
        "loan_term": {
            "value": "24"
        },
        "write_up": {
            "value": "1509956718.txt"
        },
        "amount_owed": {
            "value": null
        },
        "address": {
            "value": "20 jubrilmartins street off lawanson busstop surulere lagos"
        },
        "phone_number": {
            "value": "07018827163"
        },
        "dob_year": {
            "value": "1992"
        },
        "dob_month": {
            "value": "4"
        },
        "dob_day": {
            "value": "26"
        },
        "f_name": {
            "value": "abdulsabur"
        },
        "l_name": {
            "value": "oloko"
        },
        "owed_time": {
            "value": 0
        },
        "bvn_verified": {
            "value": "0"
        },
        "office_ver": {
            "value": "0"
        },
        "pre_monthly_credit": {
            "value": "120000"
        },
        "monthly_credit": {
            "value": 144000
        },
        "monthly_debit": {
            "value": "40000"
        },
        "potential_inflow": {
            "value": "30000"
        },
        "loan_purpose": {
            "value": "4"
        },
        "gender": {
            "value": "1"
        },
        "hw_long_curr": {
            "value": 4
        },
        "hw_long_prev": {
            "value": 4
        },
        "xds_init_response": {
            "NotFound": "No Record Found"
        }
    },
    "ouput": [
        {
            "term": "6",
            "risk_score": 271,
            "interest_rate": 35.35,
            "loan_grade": "Eb",
            "total_payback": 324840,
            "monthly_payback": 54140
        },
        {
            "term": "12",
            "risk_score": 372,
            "interest_rate": 36.32,
            "loan_grade": "Da",
            "total_payback": 327168,
            "monthly_payback": 27264
        },
        {
            "term": "18",
            "risk_score": 372,
            "interest_rate": 36.32,
            "loan_grade": "Da",
            "total_payback": 327168,
            "monthly_payback": 18176
        },
        {
            "term": "24",
            "risk_score": 395,
            "interest_rate": 36.82,
            "loan_grade": "Cb",
            "total_payback": 328368,
            "monthly_payback": 13682
        }
    ]
}</div><h2>120131</h2><div>{
    "input": {
        "user_id": {
            "value": "102339"
        },
        "bvn": {
            "value": "22148647200"
        },
        "loc_sit": {
            "value": "4"
        },
        "dependants": {
            "value": "0"
        },
        "loc": {
            "value": "31"
        },
        "age": {
            "value": "30"
        },
        "occupation": {
            "value": "0",
            "salaried_employee": {
                "value": "8"
            }
        },
        "industry": {
            "value": "11"
        },
        "social_med": {
            "value": 0
        },
        "education": {
            "value": "3"
        },
        "curr_emp": {
            "value": "3"
        },
        "prev_emp": {
            "value": "1"
        },
        "maritial_status": {
            "value": "0"
        },
        "phone_ver": {
            "value": "0"
        },
        "l_of_acc": {
            "value": "6"
        },
        "address_ver": {
            "value": "1"
        },
        "tin_provided": {
            "value": "0"
        },
        "loan_amount": {
            "value": "100000"
        },
        "loan_term": {
            "value": "24"
        },
        "write_up": {
            "value": "1506092443.txt"
        },
        "amount_owed": {
            "value": 47
        },
        "address": {
            "value": "17\/19 Tijani Salako Street Bucknor Oke-Afa"
        },
        "phone_number": {
            "value": "08148911323"
        },
        "dob_year": {
            "value": "1986"
        },
        "dob_month": {
            "value": "8"
        },
        "dob_day": {
            "value": "17"
        },
        "f_name": {
            "value": "Onome"
        },
        "l_name": {
            "value": "Omofuma"
        },
        "owed_time": {
            "value": 0
        },
        "bvn_verified": {
            "value": "0"
        },
        "office_ver": {
            "value": "0"
        },
        "pre_monthly_credit": {
            "value": "120000"
        },
        "monthly_credit": {
            "value": 120000
        },
        "monthly_debit": {
            "value": "60000"
        },
        "potential_inflow": {
            "value": 0
        },
        "loan_purpose": {
            "value": "13"
        },
        "gender": {
            "value": "0"
        },
        "hw_long_curr": {
            "value": 4
        },
        "hw_long_prev": {
            "value": 3
        },
        "xds_feedback": []
    },
    "ouput": [
        {
            "term": "6",
            "risk_score": 302,
            "interest_rate": 35.35,
            "loan_grade": "Ea",
            "total_payback": 135350,
            "monthly_payback": 22558.33
        },
        {
            "term": "12",
            "risk_score": 369,
            "interest_rate": 36.32,
            "loan_grade": "Da",
            "total_payback": 136320,
            "monthly_payback": 11360
        },
        {
            "term": "18",
            "risk_score": 392,
            "interest_rate": 36.32,
            "loan_grade": "Cb",
            "total_payback": 136320,
            "monthly_payback": 7573.33
        },
        {
            "term": "24",
            "risk_score": 392,
            "interest_rate": 36.82,
            "loan_grade": "Cb",
            "total_payback": 136820,
            "monthly_payback": 5700.83
        }
    ]
}</div><h2>120132</h2><div>{
    "input": {
        "user_id": {
            "value": "102367"
        },
        "bvn": {
            "value": "22315907081"
        },
        "loc_sit": {
            "value": "2"
        },
        "dependants": {
            "value": "0"
        },
        "loc": {
            "value": "64"
        },
        "age": {
            "value": "31"
        },
        "occupation": {
            "value": "0",
            "salaried_employee": {
                "value": "7"
            }
        },
        "industry": {
            "value": "4"
        },
        "social_med": {
            "value": 0
        },
        "education": {
            "value": "3"
        },
        "curr_emp": {
            "value": "3"
        },
        "prev_emp": {
            "value": "2"
        },
        "maritial_status": {
            "value": "0"
        },
        "phone_ver": {
            "value": "0"
        },
        "l_of_acc": {
            "value": "5"
        },
        "address_ver": {
            "value": "0"
        },
        "tin_provided": {
            "value": "0"
        },
        "loan_amount": {
            "value": "1700000"
        },
        "loan_term": {
            "value": "24"
        },
        "write_up": {
            "value": "1508448664.txt"
        },
        "amount_owed": {
            "value": 122777
        },
        "address": {
            "value": "71 Community road Akoka."
        },
        "phone_number": {
            "value": "08069083056"
        },
        "dob_year": {
            "value": "1986"
        },
        "dob_month": {
            "value": "3"
        },
        "dob_day": {
            "value": "13"
        },
        "f_name": {
            "value": "ARUBIKE"
        },
        "l_name": {
            "value": "LEKWAUWA"
        },
        "owed_time": {
            "value": 0
        },
        "bvn_verified": {
            "value": "0"
        },
        "office_ver": {
            "value": "0"
        },
        "pre_monthly_credit": {
            "value": "648000"
        },
        "monthly_credit": {
            "value": 1166400
        },
        "monthly_debit": {
            "value": "400079 "
        },
        "potential_inflow": {
            "value": "648000"
        },
        "loan_purpose": {
            "value": "14"
        },
        "gender": {
            "value": "1"
        },
        "hw_long_curr": {
            "value": 2
        },
        "hw_long_prev": {
            "value": 1
        },
        "xds_init_response": {
            "NotFound": "No Record Found"
        }
    },
    "ouput": [
        {
            "term": "6",
            "risk_score": 237,
            "interest_rate": 35.35,
            "loan_grade": "Eb",
            "total_payback": 2300950,
            "monthly_payback": 383491.67
        },
        {
            "term": "12",
            "risk_score": 338,
            "interest_rate": 36.32,
            "loan_grade": "Db",
            "total_payback": 2317440,
            "monthly_payback": 193120
        },
        {
            "term": "18",
            "risk_score": 338,
            "interest_rate": 36.32,
            "loan_grade": "Db",
            "total_payback": 2317440,
            "monthly_payback": 128746.67
        },
        {
            "term": "24",
            "risk_score": 361,
            "interest_rate": 38.32,
            "loan_grade": "Da",
            "total_payback": 2351440,
            "monthly_payback": 97976.67
        }
    ]
}</div><h2>120135</h2><div>{
    "input": {
        "user_id": {
            "value": "102371"
        },
        "bvn": {
            "value": "22143240310"
        },
        "loc_sit": {
            "value": "4"
        },
        "dependants": {
            "value": "1",
            "dependants_primary": {
                "value": 0
            },
            "dependants_secondary": {
                "value": 0
            },
            "dependants_university": {
                "value": 0
            }
        },
        "loc": {
            "value": "45"
        },
        "age": {
            "value": "30"
        },
        "occupation": {
            "value": "1"
        },
        "industry": {
            "value": "18"
        },
        "social_med": {
            "value": 0
        },
        "education": {
            "value": "1"
        },
        "curr_emp": {
            "value": "2"
        },
        "prev_emp": {
            "value": "2"
        },
        "maritial_status": {
            "value": "1",
            "married": {
                "value": 1
            }
        },
        "phone_ver": {
            "value": "1"
        },
        "l_of_acc": {
            "value": "4"
        },
        "address_ver": {
            "value": "0"
        },
        "tin_provided": {
            "value": "0"
        },
        "loan_amount": {
            "value": "60000"
        },
        "loan_term": {
            "value": "24"
        },
        "write_up": {
            "value": "1509359664.txt"
        },
        "amount_owed": {
            "value": 0
        },
        "address": {
            "value": "Plot 10 Idiroko community"
        },
        "phone_number": {
            "value": "09093843356"
        },
        "dob_year": {
            "value": "1986"
        },
        "dob_month": {
            "value": "10"
        },
        "dob_day": {
            "value": "3"
        },
        "f_name": {
            "value": "Babajide"
        },
        "l_name": {
            "value": "Olaogun"
        },
        "owed_time": {
            "value": 0
        },
        "bvn_verified": {
            "value": "0"
        },
        "office_ver": {
            "value": "0"
        },
        "pre_monthly_credit": {
            "value": "200000"
        },
        "monthly_credit": {
            "value": 200000
        },
        "monthly_debit": {
            "value": "70000"
        },
        "potential_inflow": {
            "value": 0
        },
        "loan_purpose": {
            "value": "13"
        },
        "gender": {
            "value": "1"
        },
        "hw_long_curr": {
            "value": 2
        },
        "hw_long_prev": {
            "value": 5
        },
        "xds_init_response": {
            "MatchedConsumer": [
                {
                    "MatchingEngineID": "2397623375",
                    "EnquiryID": "2935890",
                    "ConsumerID": "8869083",
                    "Reference": "C2935890-8869083",
                    "IDNo": "OG063724359",
                    "FirstName": "BABAJIDE",
                    "Surname": "OLAOGUN",
                    "OtherNames": "ROLAND",
                    "Address": "1ST AVE 111 RD B CLS BL 2 FL15  FESTAC TOWN",
                    "BirthDate": "1981-07-23T00:00:00+01:00",
                    "AccountNo": "226900208110"
                },
                {
                    "MatchingEngineID": "2397623380",
                    "EnquiryID": "2935890",
                    "ConsumerID": "8754703",
                    "Reference": "C2935890-8754703",
                    "FirstName": "BABAJIDE",
                    "Surname": "OLAOGUN",
                    "OtherNames": "OLUWASEUN",
                    "Address": "79 AILEGUN ROAD OGIJO LAGOS",
                    "AccountNo": "3851055710"
                },
                {
                    "MatchingEngineID": "2397623379",
                    "EnquiryID": "2935890",
                    "ConsumerID": "9879381",
                    "Reference": "C2935890-9879381",
                    "FirstName": "OLUWASEUN",
                    "Surname": "BABAJIDE",
                    "OtherNames": "OLAOGUN",
                    "AccountNo": "0052586771"
                },
                {
                    "MatchingEngineID": "2397623376",
                    "EnquiryID": "2935890",
                    "ConsumerID": "8869083",
                    "Reference": "C2935890-8869083",
                    "IDNo": "OG063724359",
                    "FirstName": "BABAJIDE",
                    "Surname": "OLAOGUN",
                    "OtherNames": "ROLAND",
                    "Address": "1ST AVE 111 RD B CLS BL 2 FL15  FESTAC TOWN",
                    "BirthDate": "1981-07-23T00:00:00+01:00",
                    "AccountNo": "022608987160010001000"
                },
                {
                    "MatchingEngineID": "2397623378",
                    "EnquiryID": "2935890",
                    "ConsumerID": "8869083",
                    "Reference": "C2935890-8869083",
                    "IDNo": "OG063724359",
                    "FirstName": "BABAJIDE",
                    "Surname": "OLAOGUN",
                    "OtherNames": "ROLAND",
                    "Address": "1ST AVE 111 RD B CLS BL 2 FL15  FESTAC TOWN",
                    "BirthDate": "1981-07-23T00:00:00+01:00",
                    "AccountNo": "226898716110"
                }
            ]
        },
        "xds_feedback": []
    },
    "ouput": [
        {
            "term": "6",
            "risk_score": 382,
            "interest_rate": 32.35,
            "loan_grade": "Cb",
            "total_payback": 79410,
            "monthly_payback": 13235
        },
        {
            "term": "12",
            "risk_score": 382,
            "interest_rate": 36.32,
            "loan_grade": "Cb",
            "total_payback": 81792,
            "monthly_payback": 6816
        },
        {
            "term": "18",
            "risk_score": 382,
            "interest_rate": 36.32,
            "loan_grade": "Cb",
            "total_payback": 81792,
            "monthly_payback": 4544
        },
        {
            "term": "24",
            "risk_score": 382,
            "interest_rate": 36.82,
            "loan_grade": "Cb",
            "total_payback": 82092,
            "monthly_payback": 3420.5
        }
    ]
}</div><h2>140093</h2><div>{
    "input": {
        "user_id": {
            "value": "102389"
        },
        "bvn": {
            "value": "22389009250"
        },
        "loc_sit": {
            "value": "0"
        },
        "dependants": {
            "value": "0"
        },
        "loc": {
            "value": "45"
        },
        "age": {
            "value": "22"
        },
        "occupation": {
            "value": "0",
            "salaried_employee": {
                "value": "8"
            }
        },
        "industry": {
            "value": "21"
        },
        "social_med": {
            "value": 0
        },
        "education": {
            "value": "1"
        },
        "curr_emp": {
            "value": "4"
        },
        "prev_emp": {
            "value": "3"
        },
        "maritial_status": {
            "value": "0"
        },
        "phone_ver": {
            "value": "0"
        },
        "l_of_acc": {
            "value": "8"
        },
        "address_ver": {
            "value": "1"
        },
        "tin_provided": {
            "value": "0"
        },
        "loan_amount": {
            "value": "1200000"
        },
        "loan_term": {
            "value": 12
        },
        "write_up": {
            "value": "1519032527.txt"
        },
        "amount_owed": {
            "value": 0
        },
        "address": {
            "value": "D10, Goshen Beach Estate"
        },
        "phone_number": {
            "value": "8020764203"
        },
        "dob_year": {
            "value": "1995"
        },
        "dob_month": {
            "value": "3"
        },
        "dob_day": {
            "value": "28"
        },
        "f_name": {
            "value": "Victor"
        },
        "l_name": {
            "value": "Ezenwoko"
        },
        "owed_time": {
            "value": 0
        },
        "bvn_verified": {
            "value": "0"
        },
        "office_ver": {
            "value": "1"
        },
        "pre_monthly_credit": {
            "value": "300000"
        },
        "monthly_credit": {
            "value": 300000
        },
        "monthly_debit": {
            "value": "50000"
        },
        "potential_inflow": {
            "value": 0
        },
        "loan_purpose": {
            "value": "6"
        },
        "gender": {
            "value": "1"
        },
        "hw_long_curr": {
            "value": 4
        },
        "hw_long_prev": {
            "value": 2
        }
    },
    "ouput": [
        {
            "term": "3",
            "risk_score": -216,
            "interest_rate": 32.06,
            "loan_grade": "C-",
            "total_payback": 1584720,
            "monthly_payback": 528240
        },
        {
            "term": "6",
            "risk_score": -216,
            "interest_rate": 33.47,
            "loan_grade": "C-",
            "total_payback": 1601640,
            "monthly_payback": 266940
        },
        {
            "term": "12",
            "risk_score": 272,
            "interest_rate": 34.69,
            "loan_grade": "C-",
            "total_payback": 1616280,
            "monthly_payback": 134690
        },
        {
            "term": "18",
            "risk_score": 306,
            "interest_rate": 34.75,
            "loan_grade": "C",
            "total_payback": 1617000,
            "monthly_payback": 89833.33
        },
        {
            "term": "24",
            "risk_score": 373,
            "interest_rate": 33.69,
            "loan_grade": "B-",
            "total_payback": 1604280,
            "monthly_payback": 66845
        }
    ],
    "scores": {
        "3_month": {
            "environmental": 25,
            "personal": 11,
            "business": 7,
            "total": -216
        },
        "6_month": {
            "environmental": 25,
            "personal": 11,
            "business": 7,
            "total": -216
        },
        "12_month": {
            "environmental": 25,
            "personal": 11,
            "business": 18,
            "total": 272
        },
        "18_month": {
            "environmental": 25,
            "personal": 11,
            "business": 25,
            "total": 306
        },
        "24_month": {
            "environmental": 25,
            "personal": 11,
            "business": 39,
            "total": 373
        }
    }
}</div><h2>120264</h2><div>{
    "input": {
        "user_id": {
            "value": "102402"
        },
        "bvn": {
            "value": "22370575344"
        },
        "loc_sit": {
            "value": 2
        },
        "dependants": {
            "value": 5,
            "dependants_primary": {
                "value": 0
            },
            "dependants_secondary": {
                "value": 0
            },
            "dependants_university": {
                "value": 1
            }
        },
        "loc": {
            "value": "31"
        },
        "age": {
            "value": "30"
        },
        "occupation": {
            "value": 0,
            "salaried_employee": {
                "value": 7
            }
        },
        "industry": {
            "value": "15"
        },
        "social_med": {
            "value": 0
        },
        "education": {
            "value": 3
        },
        "curr_emp": {
            "value": 0
        },
        "prev_emp": {
            "value": 1
        },
        "maritial_status": {
            "value": 0
        },
        "phone_ver": {
            "value": "0"
        },
        "l_of_acc": {
            "value": 7
        },
        "address_ver": {
            "value": "0"
        },
        "tin_provided": {
            "value": "0"
        },
        "loan_amount": {
            "value": "60000"
        },
        "loan_term": {
            "value": "24"
        },
        "write_up": {
            "value": "1511967274.txt"
        },
        "amount_owed": {
            "value": 10000
        },
        "address": {
            "value": "7A Alhaji Olusesi Street Okota Isolo"
        },
        "phone_number": {
            "value": "08164852775"
        },
        "dob_year": {
            "value": "1986"
        },
        "dob_month": {
            "value": "11"
        },
        "dob_day": {
            "value": "24"
        },
        "f_name": {
            "value": "Oluwayemisi"
        },
        "l_name": {
            "value": "Olufemi"
        },
        "owed_time": {
            "value": 0
        },
        "bvn_verified": {
            "value": "0"
        },
        "office_ver": {
            "value": "0"
        },
        "pre_monthly_credit": {
            "value": "210000"
        },
        "monthly_credit": {
            "value": 850000
        },
        "monthly_debit": {
            "value": "95000"
        },
        "potential_inflow": {
            "value": "800000"
        },
        "loan_purpose": {
            "value": "14"
        },
        "gender": {
            "value": "0"
        },
        "hw_long_curr": {
            "value": 5
        },
        "hw_long_prev": {
            "value": 5
        }
    },
    "ouput": [
        {
            "term": "6",
            "risk_score": 356,
            "interest_rate": 32.35,
            "loan_grade": "Da",
            "total_payback": 79410,
            "monthly_payback": 13235
        },
        {
            "term": "12",
            "risk_score": 356,
            "interest_rate": 36.32,
            "loan_grade": "Da",
            "total_payback": 81792,
            "monthly_payback": 6816
        },
        {
            "term": "18",
            "risk_score": 356,
            "interest_rate": 36.32,
            "loan_grade": "Da",
            "total_payback": 81792,
            "monthly_payback": 4544
        },
        {
            "term": "24",
            "risk_score": 356,
            "interest_rate": 38.32,
            "loan_grade": "Da",
            "total_payback": 82992,
            "monthly_payback": 3458
        }
    ],
    "scores": {
        "6_month": {
            "environmental": 14,
            "personal": 14,
            "business": 43,
            "total": 356
        },
        "12_month": {
            "environmental": 14,
            "personal": 14,
            "business": 43,
            "total": 356
        },
        "18_month": {
            "environmental": 14,
            "personal": 14,
            "business": 43,
            "total": 356
        },
        "24_month": {
            "environmental": 14,
            "personal": 14,
            "business": 43,
            "total": 356
        }
    }
}</div><h2>140124</h2><div>{
    "input": {
        "user_id": {
            "value": "102442"
        },
        "bvn": {
            "value": "22289678242"
        },
        "loc_sit": {
            "value": "4"
        },
        "dependants": {
            "value": "2",
            "dependants_primary": {
                "value": 1
            },
            "dependants_secondary": {
                "value": 0
            },
            "dependants_university": {
                "value": 0
            }
        },
        "loc": {
            "value": "-1"
        },
        "age": {
            "value": "35"
        },
        "occupation": {
            "value": "1"
        },
        "industry": {
            "value": "1"
        },
        "social_med": {
            "value": 0
        },
        "education": {
            "value": "1"
        },
        "curr_emp": {
            "value": "2"
        },
        "prev_emp": {
            "value": "1"
        },
        "maritial_status": {
            "value": "1",
            "married": {
                "value": 2
            }
        },
        "phone_ver": {
            "value": "0"
        },
        "l_of_acc": {
            "value": "5"
        },
        "address_ver": {
            "value": "0"
        },
        "tin_provided": {
            "value": "1"
        },
        "loan_amount": {
            "value": "500000"
        },
        "loan_term": {
            "value": "24"
        },
        "write_up": {
            "value": "1510843033.txt"
        },
        "amount_owed": {
            "value": 300000
        },
        "address": {
            "value": "KM 12, Lasu\/Igando Expressway, Araromi, Igando, Lagos."
        },
        "phone_number": {
            "value": "08038611118"
        },
        "dob_year": {
            "value": "1982"
        },
        "dob_month": {
            "value": "1"
        },
        "dob_day": {
            "value": "24"
        },
        "f_name": {
            "value": "Omobolanle"
        },
        "l_name": {
            "value": "Ogbamola"
        },
        "owed_time": {
            "value": 0
        },
        "bvn_verified": {
            "value": "0"
        },
        "office_ver": {
            "value": "0"
        },
        "pre_monthly_credit": {
            "value": "2500000"
        },
        "monthly_credit": {
            "value": 2500000
        },
        "monthly_debit": {
            "value": "180000"
        },
        "potential_inflow": {
            "value": 0
        },
        "loan_purpose": {
            "value": "11"
        },
        "gender": {
            "value": "1"
        },
        "hw_long_curr": {
            "value": 2
        },
        "hw_long_prev": {
            "value": 3
        }
    },
    "ouput": [
        {
            "term": "6",
            "risk_score": 380,
            "interest_rate": 32.35,
            "loan_grade": "Cb",
            "total_payback": 661750,
            "monthly_payback": 110291.67
        },
        {
            "term": "12",
            "risk_score": 380,
            "interest_rate": 36.32,
            "loan_grade": "Cb",
            "total_payback": 681600,
            "monthly_payback": 56800
        },
        {
            "term": "18",
            "risk_score": 380,
            "interest_rate": 36.32,
            "loan_grade": "Cb",
            "total_payback": 681600,
            "monthly_payback": 37866.67
        },
        {
            "term": "24",
            "risk_score": 380,
            "interest_rate": 36.82,
            "loan_grade": "Cb",
            "total_payback": 684100,
            "monthly_payback": 28504.17
        }
    ]
}</div><h2>140119</h2><div>{
    "input": {
        "user_id": {
            "value": "102502"
        },
        "bvn": {
            "value": "22163218739"
        },
        "loc_sit": {
            "value": "4"
        },
        "dependants": {
            "value": "3",
            "dependants_primary": {
                "value": 1
            },
            "dependants_secondary": {
                "value": 0
            },
            "dependants_university": {
                "value": 0
            }
        },
        "loc": {
            "value": "1"
        },
        "age": {
            "value": "37"
        },
        "occupation": {
            "value": "1"
        },
        "industry": {
            "value": "19"
        },
        "social_med": {
            "value": 0
        },
        "education": {
            "value": "3"
        },
        "curr_emp": {
            "value": "6"
        },
        "prev_emp": {
            "value": "5"
        },
        "maritial_status": {
            "value": "1",
            "married": {
                "value": 1
            }
        },
        "phone_ver": {
            "value": "0"
        },
        "l_of_acc": {
            "value": "2"
        },
        "address_ver": {
            "value": "1"
        },
        "tin_provided": {
            "value": "1"
        },
        "loan_amount": {
            "value": "200000"
        },
        "loan_term": {
            "value": 12
        },
        "write_up": {
            "value": "1519318523.txt"
        },
        "amount_owed": {
            "value": 0
        },
        "address": {
            "value": "1, James okiki str, oko oba"
        },
        "phone_number": {
            "value": "08027198790"
        },
        "dob_year": {
            "value": "1980"
        },
        "dob_month": {
            "value": "0"
        },
        "dob_day": {
            "value": "7"
        },
        "f_name": {
            "value": "Ebenezer"
        },
        "l_name": {
            "value": "Olubo"
        },
        "owed_time": {
            "value": 0
        },
        "bvn_verified": {
            "value": "0"
        },
        "office_ver": {
            "value": "1"
        },
        "pre_monthly_credit": {
            "value": "150000"
        },
        "monthly_credit": {
            "value": 150000
        },
        "monthly_debit": {
            "value": "50000"
        },
        "potential_inflow": {
            "value": 0
        },
        "loan_purpose": {
            "value": "10"
        },
        "gender": {
            "value": "0"
        },
        "hw_long_curr": {
            "value": 3
        },
        "hw_long_prev": {
            "value": 2
        }
    },
    "ouput": [
        {
            "term": "3",
            "risk_score": -184,
            "interest_rate": 21.4,
            "loan_grade": "C-",
            "total_payback": 242800,
            "monthly_payback": 80933.33
        },
        {
            "term": "6",
            "risk_score": 241,
            "interest_rate": 25.32,
            "loan_grade": "C-",
            "total_payback": 250640,
            "monthly_payback": 41773.33
        },
        {
            "term": "12",
            "risk_score": 342,
            "interest_rate": 32.38,
            "loan_grade": "C+",
            "total_payback": 264760,
            "monthly_payback": 22063.33
        },
        {
            "term": "18",
            "risk_score": 342,
            "interest_rate": 37.74,
            "loan_grade": "C+",
            "total_payback": 275480,
            "monthly_payback": 15304.44
        },
        {
            "term": "24",
            "risk_score": 364,
            "interest_rate": 33.38,
            "loan_grade": "B-",
            "total_payback": 266760,
            "monthly_payback": 11115
        }
    ],
    "scores": {
        "3_month": {
            "environmental": 17,
            "personal": 12,
            "business": 9,
            "total": -184
        },
        "6_month": {
            "environmental": 17,
            "personal": 12,
            "business": 20,
            "total": 241
        },
        "12_month": {
            "environmental": 17,
            "personal": 12,
            "business": 40,
            "total": 342
        },
        "18_month": {
            "environmental": 17,
            "personal": 12,
            "business": 40,
            "total": 342
        },
        "24_month": {
            "environmental": 17,
            "personal": 12,
            "business": 45,
            "total": 364
        }
    }
}</div><h2>120147</h2><div>{
    "input": {
        "user_id": {
            "value": "102541"
        },
        "bvn": {
            "value": "22178509765"
        },
        "loc_sit": {
            "value": 4
        },
        "dependants": {
            "value": 1,
            "dependants_primary": {
                "value": 0
            },
            "dependants_secondary": {
                "value": 0
            },
            "dependants_university": {
                "value": 0
            }
        },
        "loc": {
            "value": "35"
        },
        "age": {
            "value": "41"
        },
        "occupation": {
            "value": 0,
            "salaried_employee": {
                "value": 7
            }
        },
        "industry": {
            "value": "7"
        },
        "social_med": {
            "value": 0
        },
        "education": {
            "value": 3
        },
        "curr_emp": {
            "value": 3
        },
        "prev_emp": {
            "value": 0,
            "60_plus": {
                "value": 1
            }
        },
        "maritial_status": {
            "value": 1,
            "married": {
                "value": 1
            }
        },
        "phone_ver": {
            "value": "0"
        },
        "l_of_acc": {
            "value": 8
        },
        "address_ver": {
            "value": "0"
        },
        "tin_provided": {
            "value": "0"
        },
        "loan_amount": {
            "value": "160000"
        },
        "loan_term": {
            "value": "24"
        },
        "write_up": {
            "value": "1510820634.txt"
        },
        "amount_owed": {
            "value": 0
        },
        "address": {
            "value": "9a Michelle Okocha Crescent Parkview Ikoyi, Lagos State."
        },
        "phone_number": {
            "value": "09027746289"
        },
        "dob_year": {
            "value": "1976"
        },
        "dob_month": {
            "value": "9"
        },
        "dob_day": {
            "value": "28"
        },
        "f_name": {
            "value": "Awoyale"
        },
        "l_name": {
            "value": "Sunday"
        },
        "owed_time": {
            "value": 0
        },
        "bvn_verified": {
            "value": "0"
        },
        "office_ver": {
            "value": "0"
        },
        "pre_monthly_credit": {
            "value": "126996"
        },
        "monthly_credit": {
            "value": 146996
        },
        "monthly_debit": {
            "value": "16500"
        },
        "potential_inflow": {
            "value": "25000"
        },
        "loan_purpose": {
            "value": "5"
        },
        "gender": {
            "value": "0"
        },
        "hw_long_curr": {
            "value": 2
        },
        "hw_long_prev": {
            "value": 1
        }
    },
    "ouput": [
        {
            "term": "6",
            "risk_score": 345,
            "interest_rate": 35.35,
            "loan_grade": "Db",
            "total_payback": 216560,
            "monthly_payback": 36093.33
        },
        {
            "term": "12",
            "risk_score": 368,
            "interest_rate": 36.32,
            "loan_grade": "Da",
            "total_payback": 218112,
            "monthly_payback": 18176
        },
        {
            "term": "18",
            "risk_score": 368,
            "interest_rate": 36.32,
            "loan_grade": "Da",
            "total_payback": 218112,
            "monthly_payback": 12117.33
        },
        {
            "term": "24",
            "risk_score": 368,
            "interest_rate": 38.32,
            "loan_grade": "Da",
            "total_payback": 221312,
            "monthly_payback": 9221.33
        }
    ]
}</div><h2>120325</h2><div>{
    "input": {
        "user_id": {
            "value": "102662"
        },
        "bvn": {
            "value": "22153444243"
        },
        "loc_sit": {
            "value": 0
        },
        "dependants": {
            "value": "5",
            "dependants_primary": {
                "value": 1
            },
            "dependants_secondary": {
                "value": 0
            },
            "dependants_university": {
                "value": 0
            }
        },
        "loc": {
            "value": "14"
        },
        "age": {
            "value": "32"
        },
        "occupation": {
            "value": 0,
            "salaried_employee": {
                "value": "6"
            }
        },
        "industry": {
            "value": "21"
        },
        "social_med": {
            "value": 0
        },
        "education": {
            "value": "3"
        },
        "curr_emp": {
            "value": "1"
        },
        "prev_emp": {
            "value": 2
        },
        "maritial_status": {
            "value": "1",
            "married": {
                "value": 2
            }
        },
        "phone_ver": {
            "value": "0"
        },
        "l_of_acc": {
            "value": 3
        },
        "address_ver": {
            "value": "1"
        },
        "tin_provided": {
            "value": "0"
        },
        "loan_amount": {
            "value": "200000"
        },
        "loan_term": {
            "value": "24"
        },
        "write_up": {
            "value": "1513002713.txt"
        },
        "amount_owed": {
            "value": 0
        },
        "address": {
            "value": "10 Araromi Street,  Iyana Ipaja, Lagos"
        },
        "phone_number": {
            "value": "8182544209"
        },
        "dob_year": {
            "value": "1984"
        },
        "dob_month": {
            "value": "10"
        },
        "dob_day": {
            "value": "28"
        },
        "f_name": {
            "value": "Olalekan"
        },
        "l_name": {
            "value": "Olukowi"
        },
        "owed_time": {
            "value": 0
        },
        "bvn_verified": {
            "value": "0"
        },
        "office_ver": {
            "value": "1"
        },
        "pre_monthly_credit": {
            "value": "500000"
        },
        "monthly_credit": {
            "value": 500000
        },
        "monthly_debit": {
            "value": "150000"
        },
        "potential_inflow": {
            "value": 0
        },
        "loan_purpose": {
            "value": "11"
        },
        "gender": {
            "value": "0"
        },
        "hw_long_curr": {
            "value": 4
        },
        "hw_long_prev": {
            "value": 3
        }
    },
    "ouput": [
        {
            "term": "6",
            "risk_score": 383,
            "interest_rate": 32.35,
            "loan_grade": "Cb",
            "total_payback": 264700,
            "monthly_payback": 44116.67
        },
        {
            "term": "12",
            "risk_score": 383,
            "interest_rate": 36.32,
            "loan_grade": "Cb",
            "total_payback": 272640,
            "monthly_payback": 22720
        },
        {
            "term": "18",
            "risk_score": 383,
            "interest_rate": 36.32,
            "loan_grade": "Cb",
            "total_payback": 272640,
            "monthly_payback": 15146.67
        },
        {
            "term": "24",
            "risk_score": 383,
            "interest_rate": 36.82,
            "loan_grade": "Cb",
            "total_payback": 273640,
            "monthly_payback": 11401.67
        }
    ],
    "scores": {
        "6_month": {
            "environmental": 18,
            "personal": 16,
            "business": 43,
            "total": 383
        },
        "12_month": {
            "environmental": 18,
            "personal": 16,
            "business": 43,
            "total": 383
        },
        "18_month": {
            "environmental": 18,
            "personal": 16,
            "business": 43,
            "total": 383
        },
        "24_month": {
            "environmental": 18,
            "personal": 16,
            "business": 43,
            "total": 383
        }
    }
}</div><h2>120166</h2><div>{
    "input": {
        "user_id": {
            "value": "102813"
        },
        "bvn": {
            "value": "22203873623"
        },
        "loc_sit": {
            "value": 4
        },
        "dependants": {
            "value": 1,
            "dependants_primary": {
                "value": 0
            },
            "dependants_secondary": {
                "value": 0
            },
            "dependants_university": {
                "value": 0
            }
        },
        "loc": {
            "value": "43"
        },
        "age": {
            "value": "45"
        },
        "occupation": {
            "value": 1
        },
        "industry": {
            "value": "22"
        },
        "social_med": {
            "value": 0
        },
        "education": {
            "value": 3
        },
        "curr_emp": {
            "value": 0
        },
        "prev_emp": {
            "value": 5
        },
        "maritial_status": {
            "value": 1,
            "married": {
                "value": 3
            }
        },
        "phone_ver": {
            "value": "0"
        },
        "l_of_acc": {
            "value": 6
        },
        "address_ver": {
            "value": "0"
        },
        "tin_provided": {
            "value": "0"
        },
        "loan_amount": {
            "value": "60000"
        },
        "loan_term": {
            "value": "24"
        },
        "write_up": {
            "value": "1510968897.txt"
        },
        "amount_owed": {
            "value": 10000
        },
        "address": {
            "value": "16 Owuladr Avenue, Irawo, Ajegunle"
        },
        "phone_number": {
            "value": "08120716580"
        },
        "dob_year": {
            "value": "1972"
        },
        "dob_month": {
            "value": "1"
        },
        "dob_day": {
            "value": "26"
        },
        "f_name": {
            "value": "VIC-SHALOM"
        },
        "l_name": {
            "value": "Nwachukwu"
        },
        "owed_time": {
            "value": 0
        },
        "bvn_verified": {
            "value": "1"
        },
        "office_ver": {
            "value": "0"
        },
        "pre_monthly_credit": {
            "value": "105000"
        },
        "monthly_credit": {
            "value": 121000
        },
        "monthly_debit": {
            "value": "55000"
        },
        "potential_inflow": {
            "value": "20000"
        },
        "loan_purpose": {
            "value": "14"
        },
        "gender": {
            "value": "0"
        },
        "hw_long_curr": {
            "value": 4
        },
        "hw_long_prev": {
            "value": 2
        }
    },
    "ouput": [
        {
            "term": "6",
            "risk_score": 360,
            "interest_rate": 32.35,
            "loan_grade": "Da",
            "total_payback": 79410,
            "monthly_payback": 13235
        },
        {
            "term": "12",
            "risk_score": 382,
            "interest_rate": 36.32,
            "loan_grade": "Cb",
            "total_payback": 81792,
            "monthly_payback": 6816
        },
        {
            "term": "18",
            "risk_score": 382,
            "interest_rate": 36.32,
            "loan_grade": "Cb",
            "total_payback": 81792,
            "monthly_payback": 4544
        },
        {
            "term": "24",
            "risk_score": 382,
            "interest_rate": 36.82,
            "loan_grade": "Cb",
            "total_payback": 82092,
            "monthly_payback": 3420.5
        }
    ]
}</div><h2>120169</h2><div>{
    "input": {
        "user_id": {
            "value": "102847"
        },
        "bvn": {
            "value": "22268435097"
        },
        "loc_sit": {
            "value": "2"
        },
        "dependants": {
            "value": "4",
            "dependants_primary": {
                "value": 1
            },
            "dependants_secondary": {
                "value": 1
            },
            "dependants_university": {
                "value": 0
            }
        },
        "loc": {
            "value": "8"
        },
        "age": {
            "value": "50"
        },
        "occupation": {
            "value": "1"
        },
        "industry": {
            "value": "16"
        },
        "social_med": {
            "value": 0
        },
        "education": {
            "value": "3"
        },
        "curr_emp": {
            "value": 7
        },
        "prev_emp": {
            "value": 5
        },
        "maritial_status": {
            "value": "1",
            "married": {
                "value": 3
            }
        },
        "phone_ver": {
            "value": "0"
        },
        "l_of_acc": {
            "value": 2
        },
        "address_ver": {
            "value": "0"
        },
        "tin_provided": {
            "value": "0"
        },
        "loan_amount": {
            "value": "500000"
        },
        "loan_term": {
            "value": "24"
        },
        "write_up": {
            "value": "1511101487.txt"
        },
        "amount_owed": {
            "value": 0
        },
        "address": {
            "value": "54 MEIRAN ROAD, AGBADO IJAIYE. LAGOS"
        },
        "phone_number": {
            "value": "8099405207"
        },
        "dob_year": {
            "value": "1967"
        },
        "dob_month": {
            "value": "5"
        },
        "dob_day": {
            "value": "15"
        },
        "f_name": {
            "value": "ayodeji"
        },
        "l_name": {
            "value": "adeoya"
        },
        "owed_time": {
            "value": 0
        },
        "bvn_verified": {
            "value": "1"
        },
        "office_ver": {
            "value": "0"
        },
        "pre_monthly_credit": {
            "value": "250000"
        },
        "monthly_credit": {
            "value": 250000
        },
        "monthly_debit": {
            "value": "75000"
        },
        "potential_inflow": {
            "value": 0
        },
        "loan_purpose": {
            "value": "11"
        },
        "gender": {
            "value": "0"
        },
        "hw_long_curr": {
            "value": 3
        },
        "hw_long_prev": {
            "value": 3
        }
    },
    "ouput": [
        {
            "term": "6",
            "risk_score": 259,
            "interest_rate": 35.35,
            "loan_grade": "Eb",
            "total_payback": 676750,
            "monthly_payback": 112791.67
        },
        {
            "term": "12",
            "risk_score": 327,
            "interest_rate": 36.32,
            "loan_grade": "Db",
            "total_payback": 681600,
            "monthly_payback": 56800
        },
        {
            "term": "18",
            "risk_score": 327,
            "interest_rate": 36.32,
            "loan_grade": "Db",
            "total_payback": 681600,
            "monthly_payback": 37866.67
        },
        {
            "term": "24",
            "risk_score": 327,
            "interest_rate": 40.32,
            "loan_grade": "Db",
            "total_payback": 701600,
            "monthly_payback": 29233.33
        }
    ]
}</div><h2>120217</h2><div>{
    "input": {
        "user_id": {
            "value": "102856"
        },
        "bvn": {
            "value": "22150054025"
        },
        "loc_sit": {
            "value": "4"
        },
        "dependants": {
            "value": 2,
            "dependants_primary": {
                "value": 1
            },
            "dependants_secondary": {
                "value": 0
            },
            "dependants_university": {
                "value": 0
            }
        },
        "loc": {
            "value": "14"
        },
        "age": {
            "value": "35"
        },
        "occupation": {
            "value": "0",
            "salaried_employee": {
                "value": "8"
            }
        },
        "industry": {
            "value": "15"
        },
        "social_med": {
            "value": 0
        },
        "education": {
            "value": "3"
        },
        "curr_emp": {
            "value": "0"
        },
        "prev_emp": {
            "value": "6"
        },
        "maritial_status": {
            "value": "1",
            "married": {
                "value": 1
            }
        },
        "phone_ver": {
            "value": "0"
        },
        "l_of_acc": {
            "value": "7"
        },
        "address_ver": {
            "value": "0"
        },
        "tin_provided": {
            "value": "0"
        },
        "loan_amount": {
            "value": "120000"
        },
        "loan_term": {
            "value": "24"
        },
        "write_up": {
            "value": "1511517585.txt"
        },
        "amount_owed": {
            "value": 23000
        },
        "address": {
            "value": "128, Ijegun Isolo Road, Ijegun Lagos."
        },
        "phone_number": {
            "value": "8034756533"
        },
        "dob_year": {
            "value": "1982"
        },
        "dob_month": {
            "value": "8"
        },
        "dob_day": {
            "value": "9"
        },
        "f_name": {
            "value": "Adura"
        },
        "l_name": {
            "value": "oSHIN"
        },
        "owed_time": {
            "value": 0
        },
        "bvn_verified": {
            "value": "0"
        },
        "office_ver": {
            "value": "0"
        },
        "pre_monthly_credit": {
            "value": "140000"
        },
        "monthly_credit": {
            "value": 140000
        },
        "monthly_debit": {
            "value": "50000"
        },
        "potential_inflow": {
            "value": 0
        },
        "loan_purpose": {
            "value": "4"
        },
        "gender": {
            "value": "1"
        },
        "hw_long_curr": {
            "value": 1
        },
        "hw_long_prev": {
            "value": 4
        }
    },
    "ouput": [
        {
            "term": "6",
            "risk_score": 242,
            "interest_rate": 35.35,
            "loan_grade": "Eb",
            "total_payback": 162420,
            "monthly_payback": 27070
        },
        {
            "term": "12",
            "risk_score": 344,
            "interest_rate": 36.32,
            "loan_grade": "Db",
            "total_payback": 163584,
            "monthly_payback": 13632
        },
        {
            "term": "18",
            "risk_score": 344,
            "interest_rate": 36.32,
            "loan_grade": "Db",
            "total_payback": 163584,
            "monthly_payback": 9088
        },
        {
            "term": "24",
            "risk_score": 366,
            "interest_rate": 38.32,
            "loan_grade": "Da",
            "total_payback": 165984,
            "monthly_payback": 6916
        }
    ],
    "scores": {
        "6_month": {
            "environmental": 18,
            "personal": 12,
            "business": 18,
            "total": 242
        },
        "12_month": {
            "environmental": 18,
            "personal": 12,
            "business": 39,
            "total": 344
        },
        "18_month": {
            "environmental": 18,
            "personal": 12,
            "business": 39,
            "total": 344
        },
        "24_month": {
            "environmental": 18,
            "personal": 12,
            "business": 43,
            "total": 366
        }
    }
}</div><h2>120172</h2><div>{
    "input": {
        "user_id": {
            "value": "102862"
        },
        "bvn": {
            "value": "22203704956"
        },
        "loc_sit": {
            "value": "3"
        },
        "dependants": {
            "value": "5",
            "dependants_primary": {
                "value": 2
            },
            "dependants_secondary": {
                "value": 1
            },
            "dependants_university": {
                "value": 0
            }
        },
        "loc": {
            "value": "36"
        },
        "age": {
            "value": "42"
        },
        "occupation": {
            "value": "0",
            "salaried_employee": {
                "value": "7"
            }
        },
        "industry": {
            "value": "7"
        },
        "social_med": {
            "value": 0
        },
        "education": {
            "value": "3"
        },
        "curr_emp": {
            "value": "0"
        },
        "prev_emp": {
            "value": "6"
        },
        "maritial_status": {
            "value": "1",
            "married": {
                "value": 2
            }
        },
        "phone_ver": {
            "value": "0"
        },
        "l_of_acc": {
            "value": "0"
        },
        "address_ver": {
            "value": "0"
        },
        "tin_provided": {
            "value": "1"
        },
        "loan_amount": {
            "value": "100000"
        },
        "loan_term": {
            "value": "24"
        },
        "write_up": {
            "value": "1511204141.txt"
        },
        "amount_owed": {
            "value": 0
        },
        "address": {
            "value": "unity estate phase 1, gberigbe road okeletu ikorodu Lagos State"
        },
        "phone_number": {
            "value": "08097541632"
        },
        "dob_year": {
            "value": "1975"
        },
        "dob_month": {
            "value": "1"
        },
        "dob_day": {
            "value": "5"
        },
        "f_name": {
            "value": "odunayo"
        },
        "l_name": {
            "value": "keshinro"
        },
        "owed_time": {
            "value": 0
        },
        "bvn_verified": {
            "value": "0"
        },
        "office_ver": {
            "value": "0"
        },
        "pre_monthly_credit": {
            "value": "175000"
        },
        "monthly_credit": {
            "value": 175000
        },
        "monthly_debit": {
            "value": "120000"
        },
        "potential_inflow": {
            "value": 0
        },
        "loan_purpose": {
            "value": "2"
        },
        "gender": {
            "value": "0"
        },
        "hw_long_curr": {
            "value": 5
        },
        "hw_long_prev": {
            "value": 5
        }
    },
    "ouput": [
        {
            "term": "6",
            "risk_score": 280,
            "interest_rate": 35.35,
            "loan_grade": "Eb",
            "total_payback": 135350,
            "monthly_payback": 22558.33
        },
        {
            "term": "12",
            "risk_score": 347,
            "interest_rate": 36.32,
            "loan_grade": "Db",
            "total_payback": 136320,
            "monthly_payback": 11360
        },
        {
            "term": "18",
            "risk_score": 370,
            "interest_rate": 36.32,
            "loan_grade": "Da",
            "total_payback": 136320,
            "monthly_payback": 7573.33
        },
        {
            "term": "24",
            "risk_score": 370,
            "interest_rate": 38.32,
            "loan_grade": "Da",
            "total_payback": 138320,
            "monthly_payback": 5763.33
        }
    ],
    "scores": {
        "6_month": {
            "environmental": 16,
            "personal": 15,
            "business": 25,
            "total": 280
        },
        "12_month": {
            "environmental": 16,
            "personal": 15,
            "business": 39,
            "total": 347
        },
        "18_month": {
            "environmental": 16,
            "personal": 15,
            "business": 43,
            "total": 370
        },
        "24_month": {
            "environmental": 16,
            "personal": 15,
            "business": 43,
            "total": 370
        }
    }
}</div><h2>120216</h2><div>{
    "input": {
        "user_id": {
            "value": "102931"
        },
        "bvn": {
            "value": "22141786654"
        },
        "loc_sit": {
            "value": "2"
        },
        "dependants": {
            "value": "0"
        },
        "loc": {
            "value": "45"
        },
        "age": {
            "value": "37"
        },
        "occupation": {
            "value": "0",
            "salaried_employee": {
                "value": "7"
            }
        },
        "industry": {
            "value": "12"
        },
        "social_med": {
            "value": 0
        },
        "education": {
            "value": "1"
        },
        "curr_emp": {
            "value": "0"
        },
        "prev_emp": {
            "value": "2"
        },
        "maritial_status": {
            "value": "0"
        },
        "phone_ver": {
            "value": "1"
        },
        "l_of_acc": {
            "value": "0"
        },
        "address_ver": {
            "value": "0"
        },
        "tin_provided": {
            "value": "1"
        },
        "loan_amount": {
            "value": "80000"
        },
        "loan_term": {
            "value": "24"
        },
        "write_up": {
            "value": "1511515010.txt"
        },
        "amount_owed": {
            "value": 87000
        },
        "address": {
            "value": "1L Bromley Place, Cadogan Estate, Jakande"
        },
        "phone_number": {
            "value": "08023341312"
        },
        "dob_year": {
            "value": "1980"
        },
        "dob_month": {
            "value": "6"
        },
        "dob_day": {
            "value": "9"
        },
        "f_name": {
            "value": "Oladipupo"
        },
        "l_name": {
            "value": "Olaloku"
        },
        "owed_time": {
            "value": 0
        },
        "bvn_verified": {
            "value": "0"
        },
        "office_ver": {
            "value": "0"
        },
        "pre_monthly_credit": {
            "value": "523000"
        },
        "monthly_credit": {
            "value": 523000
        },
        "monthly_debit": {
            "value": "35000"
        },
        "potential_inflow": {
            "value": 0
        },
        "loan_purpose": {
            "value": "4"
        },
        "gender": {
            "value": "1"
        },
        "hw_long_curr": {
            "value": 2
        },
        "hw_long_prev": {
            "value": 3
        }
    },
    "ouput": [
        {
            "term": "6",
            "risk_score": 380,
            "interest_rate": 32.35,
            "loan_grade": "Cb",
            "total_payback": 105880,
            "monthly_payback": 17646.67
        },
        {
            "term": "12",
            "risk_score": 380,
            "interest_rate": 36.32,
            "loan_grade": "Cb",
            "total_payback": 109056,
            "monthly_payback": 9088
        },
        {
            "term": "18",
            "risk_score": 380,
            "interest_rate": 36.32,
            "loan_grade": "Cb",
            "total_payback": 109056,
            "monthly_payback": 6058.67
        },
        {
            "term": "24",
            "risk_score": 380,
            "interest_rate": 36.82,
            "loan_grade": "Cb",
            "total_payback": 109456,
            "monthly_payback": 4560.67
        }
    ],
    "scores": {
        "6_month": {
            "environmental": 21,
            "personal": 12,
            "business": 43,
            "total": 380
        },
        "12_month": {
            "environmental": 21,
            "personal": 12,
            "business": 43,
            "total": 380
        },
        "18_month": {
            "environmental": 21,
            "personal": 12,
            "business": 43,
            "total": 380
        },
        "24_month": {
            "environmental": 21,
            "personal": 12,
            "business": 43,
            "total": 380
        }
    }
}</div><h2>120225</h2><div>{
    "input": {
        "user_id": {
            "value": "102975"
        },
        "bvn": {
            "value": "22209593815"
        },
        "loc_sit": {
            "value": "4"
        },
        "dependants": {
            "value": "2",
            "dependants_primary": {
                "value": 0
            },
            "dependants_secondary": {
                "value": 0
            },
            "dependants_university": {
                "value": 0
            }
        },
        "loc": {
            "value": "28"
        },
        "age": {
            "value": "39"
        },
        "occupation": {
            "value": "1"
        },
        "industry": {
            "value": "27"
        },
        "social_med": {
            "value": 0
        },
        "education": {
            "value": "3"
        },
        "curr_emp": {
            "value": "2"
        },
        "prev_emp": {
            "value": "1"
        },
        "maritial_status": {
            "value": "1",
            "married": {
                "value": 1
            }
        },
        "phone_ver": {
            "value": "0"
        },
        "l_of_acc": {
            "value": "0"
        },
        "address_ver": {
            "value": "0"
        },
        "tin_provided": {
            "value": "0"
        },
        "loan_amount": {
            "value": "100000"
        },
        "loan_term": {
            "value": "24"
        },
        "write_up": {
            "value": "1511532114.txt"
        },
        "amount_owed": {
            "value": 0
        },
        "address": {
            "value": "28 olubunmi otemolu street Obawole iju Ishaga Lagos"
        },
        "phone_number": {
            "value": "08033830571"
        },
        "dob_year": {
            "value": "1978"
        },
        "dob_month": {
            "value": "9"
        },
        "dob_day": {
            "value": "8"
        },
        "f_name": {
            "value": "Adeniyi"
        },
        "l_name": {
            "value": "Ogunnaike"
        },
        "owed_time": {
            "value": 0
        },
        "bvn_verified": {
            "value": "0"
        },
        "office_ver": {
            "value": "0"
        },
        "pre_monthly_credit": {
            "value": "150000"
        },
        "monthly_credit": {
            "value": 150000
        },
        "monthly_debit": {
            "value": "50000"
        },
        "potential_inflow": {
            "value": 0
        },
        "loan_purpose": {
            "value": "7"
        },
        "gender": {
            "value": "0"
        },
        "hw_long_curr": {
            "value": 3
        },
        "hw_long_prev": {
            "value": 3
        }
    },
    "ouput": [
        {
            "term": "6",
            "risk_score": 344,
            "interest_rate": 35.35,
            "loan_grade": "Db",
            "total_payback": 135350,
            "monthly_payback": 22558.33
        },
        {
            "term": "12",
            "risk_score": 367,
            "interest_rate": 36.32,
            "loan_grade": "Da",
            "total_payback": 136320,
            "monthly_payback": 11360
        },
        {
            "term": "18",
            "risk_score": 367,
            "interest_rate": 36.32,
            "loan_grade": "Da",
            "total_payback": 136320,
            "monthly_payback": 7573.33
        },
        {
            "term": "24",
            "risk_score": 367,
            "interest_rate": 38.32,
            "loan_grade": "Da",
            "total_payback": 138320,
            "monthly_payback": 5763.33
        }
    ],
    "scores": {
        "6_month": {
            "environmental": 18,
            "personal": 12,
            "business": 39,
            "total": 344
        },
        "12_month": {
            "environmental": 18,
            "personal": 12,
            "business": 43,
            "total": 367
        },
        "18_month": {
            "environmental": 18,
            "personal": 12,
            "business": 43,
            "total": 367
        },
        "24_month": {
            "environmental": 18,
            "personal": 12,
            "business": 43,
            "total": 367
        }
    }
}</div><h2>120462</h2><div>{
    "input": {
        "user_id": {
            "value": "102991"
        },
        "bvn": {
            "value": "22178174394"
        },
        "loc_sit": {
            "value": "4"
        },
        "dependants": {
            "value": "0"
        },
        "loc": {
            "value": "43"
        },
        "age": {
            "value": "30"
        },
        "occupation": {
            "value": "1"
        },
        "industry": {
            "value": "19"
        },
        "social_med": {
            "value": 0
        },
        "education": {
            "value": "3"
        },
        "curr_emp": {
            "value": "1"
        },
        "prev_emp": {
            "value": "6"
        },
        "maritial_status": {
            "value": "0"
        },
        "phone_ver": {
            "value": "0"
        },
        "l_of_acc": {
            "value": "0"
        },
        "address_ver": {
            "value": "0"
        },
        "tin_provided": {
            "value": "1"
        },
        "loan_amount": {
            "value": "100000"
        },
        "loan_term": {
            "value": "24"
        },
        "write_up": {
            "value": "1517344605.txt"
        },
        "amount_owed": {
            "value": 0
        },
        "address": {
            "value": "1, Soyebo street off Doyin omololu, ketu,  alapere"
        },
        "phone_number": {
            "value": "8033979447"
        },
        "dob_year": {
            "value": "1987"
        },
        "dob_month": {
            "value": "2"
        },
        "dob_day": {
            "value": "27"
        },
        "f_name": {
            "value": "Akinleye"
        },
        "l_name": {
            "value": "Hannah"
        },
        "owed_time": {
            "value": 0
        },
        "bvn_verified": {
            "value": "0"
        },
        "office_ver": {
            "value": "0"
        },
        "pre_monthly_credit": {
            "value": "200000"
        },
        "monthly_credit": {
            "value": 200000
        },
        "monthly_debit": {
            "value": "100000"
        },
        "potential_inflow": {
            "value": 0
        },
        "loan_purpose": {
            "value": "10"
        },
        "gender": {
            "value": "1"
        },
        "hw_long_curr": {
            "value": 2
        },
        "hw_long_prev": {
            "value": 3
        }
    },
    "ouput": [
        {
            "term": "6",
            "risk_score": 353,
            "interest_rate": 32.35,
            "loan_grade": "Da",
            "total_payback": 132350,
            "monthly_payback": 22058.33
        },
        {
            "term": "12",
            "risk_score": 375,
            "interest_rate": 36.32,
            "loan_grade": "Da",
            "total_payback": 136320,
            "monthly_payback": 11360
        },
        {
            "term": "18",
            "risk_score": 375,
            "interest_rate": 36.32,
            "loan_grade": "Da",
            "total_payback": 136320,
            "monthly_payback": 7573.33
        },
        {
            "term": "24",
            "risk_score": 375,
            "interest_rate": 38.32,
            "loan_grade": "Da",
            "total_payback": 138320,
            "monthly_payback": 5763.33
        }
    ],
    "scores": {
        "6_month": {
            "environmental": 20,
            "personal": 12,
            "business": 39,
            "total": 353
        },
        "12_month": {
            "environmental": 20,
            "personal": 12,
            "business": 43,
            "total": 375
        },
        "18_month": {
            "environmental": 20,
            "personal": 12,
            "business": 43,
            "total": 375
        },
        "24_month": {
            "environmental": 20,
            "personal": 12,
            "business": 43,
            "total": 375
        }
    }
}</div><h2>120294</h2><div>{
    "input": {
        "user_id": {
            "value": "103057"
        },
        "bvn": {
            "value": "22264983211"
        },
        "loc_sit": {
            "value": 2
        },
        "dependants": {
            "value": 5,
            "dependants_primary": {
                "value": 2
            },
            "dependants_secondary": {
                "value": 0
            },
            "dependants_university": {
                "value": 0
            }
        },
        "loc": {
            "value": "1"
        },
        "age": {
            "value": "44"
        },
        "occupation": {
            "value": "1"
        },
        "industry": {
            "value": "22"
        },
        "social_med": {
            "value": 0
        },
        "education": {
            "value": "3"
        },
        "curr_emp": {
            "value": "1"
        },
        "prev_emp": {
            "value": "6"
        },
        "maritial_status": {
            "value": "1",
            "married": {
                "value": 2
            }
        },
        "phone_ver": {
            "value": "0"
        },
        "l_of_acc": {
            "value": "5"
        },
        "address_ver": {
            "value": "0"
        },
        "tin_provided": {
            "value": "1"
        },
        "loan_amount": {
            "value": "300000"
        },
        "loan_term": {
            "value": "24"
        },
        "write_up": {
            "value": "1512376756.txt"
        },
        "amount_owed": {
            "value": 40000
        },
        "address": {
            "value": "2, Alh Bello close, Mitchell estate, Iju-ishaga, Lagos"
        },
        "phone_number": {
            "value": "8033335647"
        },
        "dob_year": {
            "value": "1973"
        },
        "dob_month": {
            "value": "1"
        },
        "dob_day": {
            "value": "12"
        },
        "f_name": {
            "value": "Oludare"
        },
        "l_name": {
            "value": "Toyin"
        },
        "owed_time": {
            "value": 0
        },
        "bvn_verified": {
            "value": "0"
        },
        "office_ver": {
            "value": "1"
        },
        "pre_monthly_credit": {
            "value": "600000"
        },
        "monthly_credit": {
            "value": 600000
        },
        "monthly_debit": {
            "value": "120000"
        },
        "potential_inflow": {
            "value": 0
        },
        "loan_purpose": {
            "value": "11"
        },
        "gender": {
            "value": "0"
        },
        "hw_long_curr": {
            "value": 3
        },
        "hw_long_prev": {
            "value": 1
        }
    },
    "ouput": [
        {
            "term": "6",
            "risk_score": 352,
            "interest_rate": 32.35,
            "loan_grade": "Da",
            "total_payback": 397050,
            "monthly_payback": 66175
        },
        {
            "term": "12",
            "risk_score": 352,
            "interest_rate": 36.32,
            "loan_grade": "Da",
            "total_payback": 408960,
            "monthly_payback": 34080
        },
        {
            "term": "18",
            "risk_score": 352,
            "interest_rate": 36.32,
            "loan_grade": "Da",
            "total_payback": 408960,
            "monthly_payback": 22720
        },
        {
            "term": "24",
            "risk_score": 352,
            "interest_rate": 38.32,
            "loan_grade": "Da",
            "total_payback": 414960,
            "monthly_payback": 17290
        }
    ],
    "scores": {
        "6_month": {
            "environmental": 14,
            "personal": 14,
            "business": 43,
            "total": 352
        },
        "12_month": {
            "environmental": 14,
            "personal": 14,
            "business": 43,
            "total": 352
        },
        "18_month": {
            "environmental": 14,
            "personal": 14,
            "business": 43,
            "total": 352
        },
        "24_month": {
            "environmental": 14,
            "personal": 14,
            "business": 43,
            "total": 352
        }
    }
}</div><h2>120213</h2><div>{
    "input": {
        "user_id": {
            "value": "103099"
        },
        "bvn": {
            "value": "22147713193"
        },
        "loc_sit": {
            "value": "3"
        },
        "dependants": {
            "value": "3",
            "dependants_primary": {
                "value": 0
            },
            "dependants_secondary": {
                "value": 0
            },
            "dependants_university": {
                "value": 1
            }
        },
        "loc": {
            "value": "38"
        },
        "age": {
            "value": "25"
        },
        "occupation": {
            "value": "0",
            "salaried_employee": {
                "value": "9"
            }
        },
        "industry": {
            "value": "19"
        },
        "social_med": {
            "value": 0
        },
        "education": {
            "value": "3"
        },
        "curr_emp": {
            "value": "4"
        },
        "prev_emp": {
            "value": "2"
        },
        "maritial_status": {
            "value": "0"
        },
        "phone_ver": {
            "value": "1"
        },
        "l_of_acc": {
            "value": "5"
        },
        "address_ver": {
            "value": "1"
        },
        "tin_provided": {
            "value": "0"
        },
        "loan_amount": {
            "value": "100000"
        },
        "loan_term": {
            "value": 6
        },
        "write_up": {
            "value": "1519998803.txt"
        },
        "amount_owed": {
            "value": 0
        },
        "address": {
            "value": "flat 174, Oniru Private Estate."
        },
        "phone_number": {
            "value": "08094662785"
        },
        "dob_year": {
            "value": "1992"
        },
        "dob_month": {
            "value": "0"
        },
        "dob_day": {
            "value": "21"
        },
        "f_name": {
            "value": "Jessica"
        },
        "l_name": {
            "value": "Jatau"
        },
        "owed_time": {
            "value": 0
        },
        "bvn_verified": {
            "value": "0"
        },
        "office_ver": {
            "value": "1"
        },
        "pre_monthly_credit": {
            "value": "75000"
        },
        "monthly_credit": {
            "value": 195000
        },
        "monthly_debit": {
            "value": "15000"
        },
        "potential_inflow": {
            "value": "150000"
        },
        "loan_purpose": {
            "value": "14"
        },
        "gender": {
            "value": "1"
        },
        "hw_long_curr": {
            "value": 4
        },
        "hw_long_prev": {
            "value": 4
        }
    },
    "ouput": [
        {
            "term": "3",
            "risk_score": 269,
            "interest_rate": 21.4,
            "loan_grade": "C-",
            "total_payback": 121400,
            "monthly_payback": 40466.67
        },
        {
            "term": "6",
            "risk_score": 359,
            "interest_rate": 22.32,
            "loan_grade": "B-",
            "total_payback": 122320,
            "monthly_payback": 20386.67
        },
        {
            "term": "12",
            "risk_score": 359,
            "interest_rate": 31.38,
            "loan_grade": "B-",
            "total_payback": 131380,
            "monthly_payback": 10948.33
        },
        {
            "term": "18",
            "risk_score": 359,
            "interest_rate": 36.74,
            "loan_grade": "B-",
            "total_payback": 136740,
            "monthly_payback": 7596.67
        },
        {
            "term": "24",
            "risk_score": 359,
            "interest_rate": 33.38,
            "loan_grade": "B-",
            "total_payback": 133380,
            "monthly_payback": 5557.5
        }
    ],
    "scores": {
        "3_month": {
            "environmental": 16,
            "personal": 13,
            "business": 25,
            "total": 269
        },
        "6_month": {
            "environmental": 16,
            "personal": 13,
            "business": 43,
            "total": 359
        },
        "12_month": {
            "environmental": 16,
            "personal": 13,
            "business": 43,
            "total": 359
        },
        "18_month": {
            "environmental": 16,
            "personal": 13,
            "business": 43,
            "total": 359
        },
        "24_month": {
            "environmental": 16,
            "personal": 13,
            "business": 43,
            "total": 359
        }
    }
}</div><h2>120215</h2><div>{
    "input": {
        "user_id": {
            "value": "103128"
        },
        "bvn": {
            "value": "22165117458"
        },
        "loc_sit": {
            "value": "2"
        },
        "dependants": {
            "value": "1",
            "dependants_primary": {
                "value": 1
            },
            "dependants_secondary": {
                "value": 1
            },
            "dependants_university": {
                "value": 0
            }
        },
        "loc": {
            "value": "34"
        },
        "age": {
            "value": "39"
        },
        "occupation": {
            "value": "0",
            "salaried_employee": {
                "value": "7"
            }
        },
        "industry": {
            "value": "7"
        },
        "social_med": {
            "value": 0
        },
        "education": {
            "value": "4"
        },
        "curr_emp": {
            "value": "0"
        },
        "prev_emp": {
            "value": "6"
        },
        "maritial_status": {
            "value": "0"
        },
        "phone_ver": {
            "value": "1"
        },
        "l_of_acc": {
            "value": "0"
        },
        "address_ver": {
            "value": "0"
        },
        "tin_provided": {
            "value": "0"
        },
        "loan_amount": {
            "value": "100000"
        },
        "loan_term": {
            "value": "24"
        },
        "write_up": {
            "value": "1511513467.txt"
        },
        "amount_owed": {
            "value": 0
        },
        "address": {
            "value": "5\/7 Morrison crescent off oregun road alausa Ikeja Lagos"
        },
        "phone_number": {
            "value": "08060548040"
        },
        "dob_year": {
            "value": "1978"
        },
        "dob_month": {
            "value": "3"
        },
        "dob_day": {
            "value": "27"
        },
        "f_name": {
            "value": "Samari"
        },
        "l_name": {
            "value": "Joseph"
        },
        "owed_time": {
            "value": 0
        },
        "bvn_verified": {
            "value": "1"
        },
        "office_ver": {
            "value": "0"
        },
        "pre_monthly_credit": {
            "value": "88000"
        },
        "monthly_credit": {
            "value": 88000
        },
        "monthly_debit": {
            "value": "30000"
        },
        "potential_inflow": {
            "value": 0
        },
        "loan_purpose": {
            "value": "5"
        },
        "gender": {
            "value": "0"
        },
        "hw_long_curr": {
            "value": 1
        },
        "hw_long_prev": {
            "value": 5
        }
    },
    "ouput": [
        {
            "term": "6",
            "risk_score": 290,
            "interest_rate": 35.35,
            "loan_grade": "Eb",
            "total_payback": 135350,
            "monthly_payback": 22558.33
        },
        {
            "term": "12",
            "risk_score": 357,
            "interest_rate": 36.32,
            "loan_grade": "Da",
            "total_payback": 136320,
            "monthly_payback": 11360
        },
        {
            "term": "18",
            "risk_score": 380,
            "interest_rate": 36.32,
            "loan_grade": "Cb",
            "total_payback": 136320,
            "monthly_payback": 7573.33
        },
        {
            "term": "24",
            "risk_score": 380,
            "interest_rate": 36.82,
            "loan_grade": "Cb",
            "total_payback": 136820,
            "monthly_payback": 5700.83
        }
    ],
    "scores": {
        "6_month": {
            "environmental": 19,
            "personal": 14,
            "business": 25,
            "total": 290
        },
        "12_month": {
            "environmental": 19,
            "personal": 14,
            "business": 39,
            "total": 357
        },
        "18_month": {
            "environmental": 19,
            "personal": 14,
            "business": 43,
            "total": 380
        },
        "24_month": {
            "environmental": 19,
            "personal": 14,
            "business": 43,
            "total": 380
        }
    }
}</div><h2>120201</h2><div>{
    "input": {
        "user_id": {
            "value": "103185"
        },
        "bvn": {
            "value": "22154908160"
        },
        "loc_sit": {
            "value": "4"
        },
        "dependants": {
            "value": "0"
        },
        "loc": {
            "value": "34"
        },
        "age": {
            "value": "27"
        },
        "occupation": {
            "value": "0",
            "salaried_employee": {
                "value": "9"
            }
        },
        "industry": {
            "value": "0"
        },
        "social_med": {
            "value": 0
        },
        "education": {
            "value": 2
        },
        "curr_emp": {
            "value": 3
        },
        "prev_emp": {
            "value": "1"
        },
        "maritial_status": {
            "value": "0"
        },
        "phone_ver": {
            "value": "0"
        },
        "l_of_acc": {
            "value": "6"
        },
        "address_ver": {
            "value": "0"
        },
        "tin_provided": {
            "value": "0"
        },
        "loan_amount": {
            "value": "60000"
        },
        "loan_term": {
            "value": "24"
        },
        "write_up": {
            "value": "1511357448.txt"
        },
        "amount_owed": {
            "value": null
        },
        "address": {
            "value": "08089230871"
        },
        "phone_number": {
            "value": "08060895733"
        },
        "dob_year": {
            "value": "1990"
        },
        "dob_month": {
            "value": "1"
        },
        "dob_day": {
            "value": "27"
        },
        "f_name": {
            "value": "Laws"
        },
        "l_name": {
            "value": "Onome"
        },
        "owed_time": {
            "value": 0
        },
        "bvn_verified": {
            "value": "0"
        },
        "office_ver": {
            "value": "0"
        },
        "pre_monthly_credit": {
            "value": "30000"
        },
        "monthly_credit": {
            "value": 46000
        },
        "monthly_debit": {
            "value": "10000"
        },
        "potential_inflow": {
            "value": "20000"
        },
        "loan_purpose": {
            "value": "14"
        },
        "gender": {
            "value": "1"
        },
        "hw_long_curr": {
            "value": 1
        },
        "hw_long_prev": {
            "value": 3
        }
    },
    "ouput": [
        {
            "term": "6",
            "risk_score": 262,
            "interest_rate": 35.35,
            "loan_grade": "Eb",
            "total_payback": 81210,
            "monthly_payback": 13535
        },
        {
            "term": "12",
            "risk_score": 363,
            "interest_rate": 36.32,
            "loan_grade": "Da",
            "total_payback": 81792,
            "monthly_payback": 6816
        },
        {
            "term": "18",
            "risk_score": 363,
            "interest_rate": 36.32,
            "loan_grade": "Da",
            "total_payback": 81792,
            "monthly_payback": 4544
        },
        {
            "term": "24",
            "risk_score": 386,
            "interest_rate": 36.82,
            "loan_grade": "Cb",
            "total_payback": 82092,
            "monthly_payback": 3420.5
        }
    ],
    "scores": {
        "6_month": {
            "environmental": 22,
            "personal": 12,
            "business": 18,
            "total": 262
        },
        "12_month": {
            "environmental": 22,
            "personal": 12,
            "business": 39,
            "total": 363
        },
        "18_month": {
            "environmental": 22,
            "personal": 12,
            "business": 39,
            "total": 363
        },
        "24_month": {
            "environmental": 22,
            "personal": 12,
            "business": 43,
            "total": 386
        }
    }
}</div><h2>120234</h2><div>{
    "input": {
        "user_id": {
            "value": "103243"
        },
        "bvn": {
            "value": "22152668505"
        },
        "loc_sit": {
            "value": 0
        },
        "dependants": {
            "value": 1,
            "dependants_primary": {
                "value": 0
            },
            "dependants_secondary": {
                "value": 0
            },
            "dependants_university": {
                "value": 1
            }
        },
        "loc": {
            "value": "28"
        },
        "age": {
            "value": "24"
        },
        "occupation": {
            "value": 0,
            "salaried_employee": {
                "value": 8
            }
        },
        "industry": {
            "value": "19"
        },
        "social_med": {
            "value": 0
        },
        "education": {
            "value": 3
        },
        "curr_emp": {
            "value": 4
        },
        "prev_emp": {
            "value": 5
        },
        "maritial_status": {
            "value": 0
        },
        "phone_ver": {
            "value": "0"
        },
        "l_of_acc": {
            "value": 6
        },
        "address_ver": {
            "value": "0"
        },
        "tin_provided": {
            "value": "0"
        },
        "loan_amount": {
            "value": "60000"
        },
        "loan_term": {
            "value": "24"
        },
        "write_up": {
            "value": "1511707478.txt"
        },
        "amount_owed": {
            "value": 10
        },
        "address": {
            "value": "1, Harmony Estate, off karaole estate, ifako Lagos"
        },
        "phone_number": {
            "value": "9053031552"
        },
        "dob_year": {
            "value": "1993"
        },
        "dob_month": {
            "value": "10"
        },
        "dob_day": {
            "value": "19"
        },
        "f_name": {
            "value": "Morakinyo"
        },
        "l_name": {
            "value": "Ajayi"
        },
        "owed_time": {
            "value": 0
        },
        "bvn_verified": {
            "value": "0"
        },
        "office_ver": {
            "value": "0"
        },
        "pre_monthly_credit": {
            "value": "57000"
        },
        "monthly_credit": {
            "value": 57000
        },
        "monthly_debit": {
            "value": "30"
        },
        "potential_inflow": {
            "value": 0
        },
        "loan_purpose": {
            "value": "10"
        },
        "gender": {
            "value": "1"
        },
        "hw_long_curr": {
            "value": 4
        },
        "hw_long_prev": {
            "value": 4
        }
    },
    "ouput": [
        {
            "term": "6",
            "risk_score": 283,
            "interest_rate": 35.35,
            "loan_grade": "Eb",
            "total_payback": 81210,
            "monthly_payback": 13535
        },
        {
            "term": "12",
            "risk_score": 350,
            "interest_rate": 36.32,
            "loan_grade": "Db",
            "total_payback": 81792,
            "monthly_payback": 6816
        },
        {
            "term": "18",
            "risk_score": 373,
            "interest_rate": 36.32,
            "loan_grade": "Da",
            "total_payback": 81792,
            "monthly_payback": 4544
        },
        {
            "term": "24",
            "risk_score": 373,
            "interest_rate": 38.32,
            "loan_grade": "Da",
            "total_payback": 82992,
            "monthly_payback": 3458
        }
    ],
    "scores": {
        "6_month": {
            "environmental": 21,
            "personal": 10,
            "business": 25,
            "total": 283
        },
        "12_month": {
            "environmental": 21,
            "personal": 10,
            "business": 39,
            "total": 350
        },
        "18_month": {
            "environmental": 21,
            "personal": 10,
            "business": 43,
            "total": 373
        },
        "24_month": {
            "environmental": 21,
            "personal": 10,
            "business": 43,
            "total": 373
        }
    }
}</div><h2>120205</h2><div>{
    "input": {
        "user_id": {
            "value": "103285"
        },
        "bvn": {
            "value": "22218820584"
        },
        "loc_sit": {
            "value": 2
        },
        "dependants": {
            "value": 0
        },
        "loc": {
            "value": "26"
        },
        "age": {
            "value": "32"
        },
        "occupation": {
            "value": 0,
            "salaried_employee": {
                "value": 6
            }
        },
        "industry": {
            "value": "6"
        },
        "social_med": {
            "value": 0
        },
        "education": {
            "value": 3
        },
        "curr_emp": {
            "value": 3
        },
        "prev_emp": {
            "value": 1
        },
        "maritial_status": {
            "value": 0
        },
        "phone_ver": {
            "value": "0"
        },
        "l_of_acc": {
            "value": 7
        },
        "address_ver": {
            "value": "0"
        },
        "tin_provided": {
            "value": "0"
        },
        "loan_amount": {
            "value": "60000"
        },
        "loan_term": {
            "value": "24"
        },
        "write_up": {
            "value": "1511424462.txt"
        },
        "amount_owed": {
            "value": 0
        },
        "address": {
            "value": "73, Aiyegbami street Adeba lakowe Bus\/Stop ibeju-lekki."
        },
        "phone_number": {
            "value": "07063403792"
        },
        "dob_year": {
            "value": "1985"
        },
        "dob_month": {
            "value": "2"
        },
        "dob_day": {
            "value": "19"
        },
        "f_name": {
            "value": "Sarah"
        },
        "l_name": {
            "value": "Ahonkhai"
        },
        "owed_time": {
            "value": 0
        },
        "bvn_verified": {
            "value": "0"
        },
        "office_ver": {
            "value": "0"
        },
        "pre_monthly_credit": {
            "value": "120000"
        },
        "monthly_credit": {
            "value": 120000
        },
        "monthly_debit": {
            "value": "50000"
        },
        "potential_inflow": {
            "value": 0
        },
        "loan_purpose": {
            "value": "5"
        },
        "gender": {
            "value": "0"
        },
        "hw_long_curr": {
            "value": 3
        },
        "hw_long_prev": {
            "value": 3
        }
    },
    "ouput": [
        {
            "term": "6",
            "risk_score": 355,
            "interest_rate": 32.35,
            "loan_grade": "Da",
            "total_payback": 79410,
            "monthly_payback": 13235
        },
        {
            "term": "12",
            "risk_score": 377,
            "interest_rate": 36.32,
            "loan_grade": "Cb",
            "total_payback": 81792,
            "monthly_payback": 6816
        },
        {
            "term": "18",
            "risk_score": 377,
            "interest_rate": 36.32,
            "loan_grade": "Cb",
            "total_payback": 81792,
            "monthly_payback": 4544
        },
        {
            "term": "24",
            "risk_score": 377,
            "interest_rate": 36.82,
            "loan_grade": "Cb",
            "total_payback": 82092,
            "monthly_payback": 3420.5
        }
    ],
    "scores": {
        "6_month": {
            "environmental": 20,
            "personal": 12,
            "business": 39,
            "total": 355
        },
        "12_month": {
            "environmental": 20,
            "personal": 12,
            "business": 43,
            "total": 377
        },
        "18_month": {
            "environmental": 20,
            "personal": 12,
            "business": 43,
            "total": 377
        },
        "24_month": {
            "environmental": 20,
            "personal": 12,
            "business": 43,
            "total": 377
        }
    }
}</div>